<template>
  <v-app>
    <template v-slot:loadingCirle>
      <div class="progress">
        <v-progress-circular
          :size="150"
          color="primary"
          indeterminate
          v-if="loadingCirle"
        ></v-progress-circular>
      </div>
    </template>
    <div
      id="errorMsgDiv"
      v-if="loginErrorMessage"
      class="deep-orange lighten-4 black--text"
    >
      {{ loginErrorMessage }}
    </div>
  </v-app>
</template>

<script>
export default {
  name: "CompleteDiscourseService",
  mounted() {
    this.loadingCirle = true;
    this.completeWithSSOProvider();
  },
  data() {
    return {
      loginErrorMessage: null,
      loadingCirle: null
    };
  },
  methods: {
    completeWithSSOProvider() {
      if (this.$route.query && this.$route.query.sso) {
        let ssoProviderQuery = this.$route.query;
        this.$store
          .dispatch("completeWithSSOProvider", ssoProviderQuery)
          .then(() => {
            this.loadingCirle = false;
          })
          .catch(() => {
            this.loadingCirle = false;
            this.loginErrorMessage =
              "An error occured while authenticating... Try again";
          });
      } else {
        this.goToHome();
      }
    },
    goToHome() {
      this.$router.push({ name: "home" });
    }
  }
};
</script>

<style scoped>
#errorMsgDiv {
  border-radius: 4px;
  margin-bottom: 15px;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
</style>
