<template>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar light flat>
              <v-spacer></v-spacer>
              <v-toolbar-title>Login</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-form ref="form" v-model="valid" :lazy-validation="lazy">
              <v-card-text>
                <v-text-field
                  label="Username"
                  name="username"
                  outlined
                  type="text"
                  v-model="username"
                  :rules="usernameRules"
                  required
                ></v-text-field>

                <v-text-field
                  label="Password"
                  name="password"
                  outlined
                  v-model="password"
                  :rules="passwordRules"
                  type="password"
                  required
                ></v-text-field>
                <slot></slot>
                <slot name="loadingCirle"></slot>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn outlined @click="login">Login</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "LoginForm",
  props: [],
  data() {
    return {
      valid: true,
      username: "",
      usernameRules: [v => !!v || "Username is required"],
      password: "",
      passwordRules: [v => !!v || "Password is required"],
      lazy: false
    };
  },
  methods: {
    login() {
      this.$refs.form.validate();
      if (this.valid) {
        let payload = {
          username: this.username,
          password: this.password
        };
        console.log("login", payload);
        this.$emit("login", payload);
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    }
  }
};
</script>

<style scoped></style>
