<template>
  <div>
    <v-card
      class="mx-auto elevation-6 border-radius"
      max-width="360px"
      outlined
    >
      <request-book-details
        :request="request"
        :status="parameters.requestStatus[request.status.value].recipient"
      ></request-book-details>

      <v-card-text
        v-if="request.tracking_number"
        class="row text-left pb-0 pt-0"
      >
        <v-col cols="auto">
          <p class="caption">
            Tracking Number:
            <span class="font-weight-bold">{{ request.tracking_number }}</span>
          </p>
        </v-col>
      </v-card-text>

      <v-card-actions class="mr-2">
        <template
          v-if="request.status && request.status.value === requestStatusOpen"
        >
          <v-btn
            class="ml-2 mb-5 btn-sm-font"
            color="secondary"
            min-width="165px"
            rounded
            @click="requestCheckoutDialog = !requestCheckoutDialog"
          >
            Checkout
          </v-btn>

          <request-checkout
            :dialog="requestCheckoutDialog"
            :request="request"
            :bookSender="request.book_sender"
            @checkoutProceed="handlecheckoutProceed"
            @closeRequestCheckoutDialog="handleCloseRequestCheckoutDialog"
          ></request-checkout>

          <v-spacer></v-spacer>

          <v-btn
            class="btn-sm-font ml-2 mb-5"
            text
            rounded
            min-width="85px"
            @click="declineRequest(request)"
            >Decline</v-btn
          >
        </template>

        <template
          v-if="request.status && request.status.value === requestStatusShipped"
        >
          <v-spacer></v-spacer>

          <v-btn text @click="receiveRequest">Receive</v-btn>
        </template>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import RequestCheckout from "./RequestCheckout";
import { stripeCheckout } from "@/payment/services/checkout";
import RequestBookDetails from "./RequestBookDetails";
import {
  requestStatusOpen,
  requestStatusShipped,
  parameters
} from "@/utils/parameters.js";
export default {
  name: "RecipientRequestCard",
  props: ["request"],
  components: {
    RequestCheckout,
    RequestBookDetails
  },
  computed: {
    ...mapGetters(["user"]),
    userBook() {
      if (this.request.request_books.length > 0) {
        return this.request.request_books[0].user_book;
      }
      return "";
    },
    requestUserBook() {
      if (this.request.request_books) {
        return this.request.request_books[0];
      }
      return "";
    }
  },
  data() {
    return {
      stripeCheckout: stripeCheckout,
      requestStatusOpen: requestStatusOpen,
      requestStatusShipped: requestStatusShipped,
      dialogAddFunds: false,
      parameters: parameters,
      requestCheckoutDialog: false
    };
  },
  methods: {
    goToBook(book) {
      this.$router.push(`/books/${book.id}`);
    },
    goToCheckout() {
      this.dialogAddFunds = false;
      this.stripeCheckout();
    },
    declineRequest(request) {
      this.$emit("declineRequest", request);
    },
    handlecheckoutProceed(checkoutData) {
      var payload = {
        ...checkoutData,
        request: this.request
      };
      this.$store.dispatch("checkoutRequests", payload);
      // .then(response => {
      //   console.log("checkoutRequests second then", response);
      //   this.$emit("confirmCheckout");
      // });
    },
    handleCloseRequestCheckoutDialog() {
      this.requestCheckoutDialog = false;
    },
    receiveRequest() {
      this.$emit("receiveRequest", this.request);
    }
  }
};
</script>
