<template>
  <div>
    <v-toolbar flat dense v-if="status">
      <v-row class="font-md">
        <v-col class="font-weight-medium"
          ><v-chip small style="pointer-events: none;">{{
            status
          }}</v-chip></v-col
        >
        <v-spacer></v-spacer>
        <v-col class="pl-auto pr-0">
          <span class="text">{{ request.request_books.length }} books</span>
        </v-col>
      </v-row>
    </v-toolbar>
    <v-divider v-if="status"></v-divider>
    <v-container>
      <v-carousel
        hide-delimiters
        v-model="model"
        light
        height="155px"
        :show-arrows="request.request_books.length > 1"
      >
        <v-carousel-item
          v-for="(request_book, i) in request.request_books"
          :key="i"
        >
          <v-card flat class="ma-0 pa-0 border-radius" light>
            <div class="d-flex flex-no-wrap">
              <v-avatar
                height="118px"
                width="76px"
                class="rounded-lg ma-3"
                size="90"
                tile
              >
                <v-img
                  :src="
                    request_book.user_book.large_image_url
                      ? request_book.user_book.large_image_url
                      : require('@/assets/paperbackbook.jpg')
                  "
                ></v-img>
              </v-avatar>

              <div class="mt-2 ml-2 font-md">
                <h6 class="mb-4">
                  {{ request_book.user_book.title }}
                </h6>

                <div
                  class="mb-0"
                  style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 125%; color: #444444;"
                >
                  <span
                    v-for="author in request_book.user_book.authors"
                    :key="author.id"
                    class=" text-capitalize"
                  >
                    {{ author.name.toLowerCase() }}
                  </span>

                  <p class="mt-0">
                    {{
                      request_book.user_book.publication_date | moment("YYYY")
                    }}
                  </p>
                </div>

                <p
                  style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 125%; color: #C4C4C4;"
                >
                  {{
                    parameters.bookCondition[
                      request_book.user_book.condition.value
                    ]
                  }}
                </p>
              </div>
            </div>
          </v-card>
        </v-carousel-item>
      </v-carousel>

      <!-- <v-card flat class="ma-0 pa-0 border-radius">
        <div class="d-flex flex-no-wrap">
          <v-avatar
            height="118px"
            width="76px"
            class="rounded-lg ma-3"
            size="90"
            tile
          >
            <v-img
              :src="
                request_book.user_book.large_image_url
                  ? request_book.user_book.large_image_url
                  : require('@/assets/paperbackbook.jpg')
              "
            ></v-img>
          </v-avatar>

          <div class="mt-2 ml-2 font-md">
            <h6 class="mb-4">
              {{ request_book.user_book.title }}
            </h6>

            <div
              class="mb-0"
              style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 125%; color: #444444;"
            >
              <span
                v-for="author in request_book.user_book.authors"
                :key="author.id"
                class=" text-capitalize"
              >
                {{ author.name.toLowerCase() }}
              </span>

              <p class="mt-0">
                {{ request_book.user_book.publication_date | moment("YYYY") }}
              </p>
            </div>

            <p
              style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 125%; color: #C4C4C4;"
            >
              {{ parameters.bookCondition[request_book.user_book.condition.value] }}
            </p>
          </div>
        </div>
      </v-card> -->
    </v-container>
  </div>
</template>

<script>
import { parameters } from "@/utils/parameters.js";
export default {
  name: "RequestBookDetails",
  props: ["request", "status"],
  data() {
    return {
      parameters: parameters,
      model: 0,
      colors: ["primary", "secondary", "yellow darken-2", "red", "orange"]
    };
  }
};
</script>
