<template>
  <span>
    <v-dialog
      style="border-radius: 0px !important;"
      v-model="dialogStepper"
      @click:outside="$emit('closeRequestCheckoutDialog')"
      transition="dialog-bottom-transition"
      max-width="1000px"
    >
      <!-- <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="ml-2 mb-5 btn-sm-font"
          color="secondary"
          min-width="165px"
          rounded
          v-bind="attrs"
          v-on="on"
        >
          Checkout
        </v-btn>
      </template> -->

      <div>
        <v-stepper style="border-radius: 0px;" v-model="stepperElement">
          <v-stepper-header>
            <v-stepper-step
              color="primary"
              :complete="stepperElement > 1"
              step="1"
              >Books</v-stepper-step
            >
            <v-divider></v-divider>
            <v-stepper-step
              color="primary"
              :complete="stepperElement > 2"
              step="2"
              >Shipping</v-stepper-step
            >
            <v-divider></v-divider>
            <v-stepper-step color="primary" step="3">Summary</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-card flat>
                <h3 class="text-left pl-10">Your chosen book list</h3>

                <v-card-text>
                  <v-row>
                    <v-col md="8">
                      <v-row>
                        <v-col
                          md="6"
                          v-for="request_book in request.request_books"
                          :key="request_book.id"
                        >
                          <v-card flat>
                            <book-details
                              @removeBookFromRequest="
                                handleRemoveBookFromRequest
                              "
                              :isRemovable="
                                Boolean(request.request_books.length > 1)
                              "
                              :book="request_book.user_book.book"
                            ></book-details>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col>
                      <v-row class="justify-start" flat>
                        <v-col cols="6">
                          <v-row class="d-flex justify-end">
                            <v-col cols="12" class="pb-0 mb-0">
                              <v-row>
                                <v-col
                                  cols="6"
                                  class="text pb-0 d-flex justify-start"
                                  >Quantity:</v-col
                                >
                                <v-col class="text pb-0 d-flex justify-end">{{
                                  request.request_books.length
                                }}</v-col>
                              </v-row>
                            </v-col>

                            <v-col cols="12" class="pt-0 mt-0">
                              <v-row class="pb-0 flex-nowrap">
                                <v-col
                                  cols="auto"
                                  class="text pb-0 d-flex justify-start"
                                  >Total cost:</v-col
                                >
                                <v-col
                                  cols="auto"
                                  class="pb-0 d-flex flex-nowrap justify-end"
                                  style="font-family: Roboto; font-style: normal; font-weight: bold; font-size: 18px; line-height: 21px; text-align: right; color: #444444;"
                                  >$ {{ request.amount || 0 }}</v-col
                                >
                              </v-row>
                            </v-col>
                          </v-row>
                        </v-col>

                        <v-col cols="12" class="pt-0">
                          <div class="d-flex justify-start">
                            <v-btn
                              color="primary"
                              rounded
                              min-width="166px"
                              min-height="35px"
                              class=" btn-sm-font mr-5"
                              @click="stepperElement = 2"
                            >
                              Shipping Information
                            </v-btn>
                            <v-btn
                              @click="cancelCheckout"
                              rounded
                              text
                              min-width="78px"
                              min-height="35px"
                              class=" btn-sm-font btn-border"
                              >Cancel</v-btn
                            >
                          </div>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-card
                flat
                class="mb-5 ml-5"
                v-if="
                  parseFloat(user.account_balance || 0) >=
                    parseFloat(request.amount || 0) ||
                    request.recipient_has_sufficient_finances
                "
              >
                <v-row class="mb-5">
                  <v-col class="pt-0 mt-0 pb-0 mb-0">
                    <h3 class="text-left">Shipping information</h3>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="d-flex justify-end pt-0 mt-0 pb-0 mb-0">
                    <v-btn
                      @click="stepperElement = 1"
                      rounded
                      text
                      min-width="78px"
                      min-height="35px"
                      class="btn-sm-font btn-border"
                      >Back to book list</v-btn
                    >
                  </v-col>
                  <v-col class=" hide-sm"></v-col>
                </v-row>
                <v-row justify="space-around">
                  <v-col
                    md="auto"
                    xs="12"
                    cols="auto"
                    class="pb-10 pt-0 mt-0 pb-0 mb-0"
                  >
                    <div>
                      <v-row justify="left" no-gutters>
                        <v-col sm="auto" class="pt-0 mt-0 pb-0 mb-0">
                          <address-choice
                            @selectAddress="handleSelectAddress"
                            @invalidateAddressSelection="
                              handleInvalidateAddressSelection
                            "
                            @validateAddressSelection="
                              handleValidateAddressSelection
                            "
                          ></address-choice>
                        </v-col>
                      </v-row>
                    </div>
                  </v-col>

                  <v-divider class="mx-4  hide-sm" vertical></v-divider>

                  <v-col md="6" class="pt-0 mt-0 pb-0 mb-0">
                    <div class="pb-5">
                      <p class="caption">Book Owner Information</p>
                      <v-row>
                        <!-- <v-col cols="auto">
                      <v-avatar>
                        <img
                          src="https://cdn.vuetifyjs.com/images/john.jpg"
                          alt="John"
                        />
                      </v-avatar>
                    </v-col> -->
                        <v-col>
                          <div class="body-2 text-capitalize">
                            {{ request.book_sender.username }}
                          </div>
                        </v-col>
                      </v-row>
                    </div>

                    <div class="font-md">
                      <p class="caption">Your ordered books:</p>
                      <v-row>
                        <v-col
                          md="auto"
                          v-for="request_book in request.request_books"
                          :key="request_book.id"
                        >
                          <p class="caption font-weight-medium">
                            {{ request_book.user_book.book.title }}
                          </p>

                          <p class="mb-0">
                            <span
                              v-for="author in request_book.user_book.book
                                .authors"
                              :key="author.id"
                              class=" text-capitalize"
                            >
                              {{ author.name.toLowerCase() }}
                            </span>
                          </p>

                          <p class="mt-0">
                            {{
                              request_book.user_book.book.publication_date
                                | moment("YYYY")
                            }}
                          </p>

                          <p>
                            <!-- {{
                              parameters.bookCondition[
                                request_book.user_book.book.condition.value
                              ]
                            }} -->
                          </p>
                        </v-col>
                      </v-row>
                    </div>

                    <div class="mb-">
                      <v-divider></v-divider>
                      <v-row>
                        <v-col>
                          <v-row>
                            <v-col cols="12" class="pb-0 mb-0">
                              <v-row>
                                <v-col
                                  cols="6"
                                  class="font-weight-medium pb-0 d-flex justify-start font-sm"
                                  >Quantity:</v-col
                                >
                                <v-col
                                  class="font-weight-black pb-0 d-flex justify-end"
                                  >{{ request.request_books.length }}</v-col
                                >
                              </v-row>
                            </v-col>

                            <v-col cols="12" class="pt-0 mt-0">
                              <v-row class="pb-0">
                                <v-col
                                  cols="6"
                                  class="font-weight-medium pb-0 d-flex justify-start font-sm"
                                  >Total cost:</v-col
                                >
                                <v-col
                                  class="font-weight-black pb-0 d-flex justify-end"
                                  >$ {{ request.amount || 0 }}</v-col
                                >
                              </v-row>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                      <v-btn
                        :disabled="!addressSelectionValid"
                        color="primary"
                        rounded
                        min-width="297px"
                        min-height="35px"
                        class=" btn-sm-font mr-5"
                        @click="stepperElement = 3"
                      >
                        Order summary
                      </v-btn>
                    </div>
                  </v-col>
                </v-row>
              </v-card>

              <v-card flat class="mb-5 ml-5" v-else>
                <h3 class="headline text-center">Account top up needed!</h3>
                <v-card-text class="pt-5 text-center"
                  >You don't have enough funds to request this book. Add funds
                  to continue checkout.</v-card-text
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="primary"
                    class="btn-sm-font"
                    rounded
                    height="35px"
                    width="100px"
                    @click="goToCheckout()"
                    >Add Funds</v-btn
                  >
                  <v-btn
                    class="btn-sm-font btn-long one-edge-shadow"
                    color=""
                    rounded
                    height="35px"
                    width="100px"
                    @click="stepperElement = 1"
                    >Back</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="3">
              <v-card flat>
                <v-row class="mb-5">
                  <v-col class="pt-0 mt-0 pb-0 mb-0">
                    <h3 class="text-left">Request summary</h3>
                  </v-col>
                  <!-- <v-spacer></v-spacer> -->
                  <v-col class="d-flex justify-end pt-0 mt-0 pb-0 mb-0">
                    <v-btn
                      @click="stepperElement = 2"
                      rounded
                      text
                      min-width="78px"
                      min-height="35px"
                      class="btn-sm-font btn-border"
                      >Change shipping information</v-btn
                    >
                  </v-col>
                  <v-col class="hide-sm"></v-col>
                  <!-- <v-spacer class=" hide-sm"></v-spacer> -->
                  <v-spacer class=" hide-sm"></v-spacer>
                </v-row>
                <v-row align="center" class="pl-10">
                  <v-col md="8">
                    <v-row>
                      <v-col>
                        <p class="font-weight-light caption">
                          Requested books:
                        </p>
                        <p
                          class="text"
                          v-for="request_book in request.request_books"
                          :key="request_book.id"
                        >
                          {{ request_book.user_book.book.title }}
                        </p>
                      </v-col>
                      <v-col v-if="address">
                        <p class="caption font-weight-light">
                          Delivery address
                        </p>
                        <p class="mb-0 text">
                          {{ address.first_name }} {{ address.last_name }}
                        </p>
                        <p class="mb-0 text">
                          {{ address.address_line }}
                        </p>
                        <p class="mb-0 text" v-if="address.state">
                          {{ address.city }}, {{ address.state }}
                          {{ address.zip_code }}
                        </p>
                        <p class="mb-0 text">
                          {{ getcollectionText(address.country, countries) }}
                        </p>
                      </v-col>
                    </v-row>
                  </v-col>

                  <v-col>
                    <div class="mb-10">
                      <h3>Complete checkout to notify the book owner!</h3>
                    </div>
                    <div class="mb-10">
                      <v-textarea
                        outlined
                        label="Message"
                        placeholder="Send a message to the owner of the book..."
                        v-model="messageToOwner"
                      ></v-textarea>
                    </div>

                    <v-btn
                      color="primary"
                      rounded
                      min-width="255px"
                      min-height="35px"
                      class=" btn-sm-font"
                      @click="checkoutProceed"
                    >
                      Send My Request
                    </v-btn>
                  </v-col>
                  <v-col class=" hide-sm"></v-col>
                </v-row>
                <v-card-actions>
                  <!-- <v-btn text @click="stepperElement = 2">Back</v-btn>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="checkoutProceed">
                Proceed
              </v-btn> -->
                </v-card-actions>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </div>

      <v-card
        color="#ffeded"
        class="pa-10"
        v-if="sendersOtherBooks.length > 0 && stepperElement == 1"
      >
        <v-card-title>
          <h4>Get other books from this user</h4>
        </v-card-title>

        <v-card-text>
          <v-row>
            <v-col v-for="(book, i) in sendersOtherBooks" :key="i">
              <v-card class="ma-0 pa-0" color="#ffeded" flat>
                <user-book-details
                  :book="book"
                  @addBookToRequest="handleAddBookToRequest"
                ></user-book-details>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
import { stripeCheckout } from "@/payment/services/checkout";
import { mapGetters } from "vuex";
import { parameters } from "@/utils/parameters.js";
import { usStates } from "@/utils/usStates.js";
import { countries } from "@/utils/countryListAllIsoData.js";
import BookDetails from "./BookDetails";
import UserBookDetails from "./UserBookDetails";
import AddressChoice from "./address/AddressChoice";
export default {
  name: "RequestCheckout",
  props: ["request", "dialog"],
  components: {
    BookDetails,
    AddressChoice,
    UserBookDetails
  },
  mounted() {
    this.initialize();
  },
  computed: {
    ...mapGetters(["user"])
  },
  data() {
    return {
      stripeCheckout: stripeCheckout,
      usStates: usStates,
      countries: countries,
      parameters: parameters,
      stepperElement: 1,
      dialogStepper: false,
      address: {},
      addressSelectionValid: false,
      validatedAddress: {},
      selectedAddress: {},
      sendersOtherBooks: [],
      messageToOwner: ""
    };
  },
  watch: {
    dialogStepper(newVal) {
      if (newVal) this.getUsersAvailableBooks();
    },
    dialog(newVal) {
      this.dialogStepper = newVal;
    }
  },
  methods: {
    initialize() {
      this.$store.dispatch("getUserAddresses");
    },
    cancelCheckout() {
      this.dialogStepper = false;
      this.$emit("closeRequestCheckoutDialog");
    },
    handleAddBookToRequest(book) {
      var payload = {
        requestID: this.request.id,
        bookID: book.id
      };
      this.$store.dispatch("addBookToRequest", payload).then(() => {
        this.getUsersAvailableBooks();
      });
    },
    handleRemoveBookFromRequest(book) {
      var payload = {
        requestID: this.request.id,
        bookID: book.id
      };
      this.$store.dispatch("removeBookFromRequest", payload).then(() => {
        this.getUsersAvailableBooks();
      });
    },
    getUsersAvailableBooks() {
      this.$store
        .dispatch("getUsersAvailableBooks", this.request.book_sender.id)
        .then(response => {
          this.sendersOtherBooks = response.data.results;
        })
        .catch(() => {
          console.log("getAvailableBooks error");
        });
    },
    goToCheckout() {
      this.dialogAddFunds = false;
      this.stripeCheckout();
    },
    handleInvalidateAddressSelection() {
      this.addressSelectionValid = false;
    },
    handleValidateAddressSelection() {
      this.addressSelectionValid = true;
    },
    handleValidateAddress(formPayload) {
      this.addressSelectionValid = formPayload.valid;
      this.validatedAddress = formPayload.address;
      this.address = formPayload.address;
    },
    handleSelectAddress(selectedAddress) {
      this.selectedAddress = selectedAddress;
      var valid = Boolean(selectedAddress);
      this.handleValidateAddress({ valid: valid, address: selectedAddress });
    },
    checkoutProceed() {
      if (this.messageToOwner != "" && this.messageToOwner.length < 20) {
        this.$toasted.show("Message must be 20 characters or more", {
          theme: "outline",
          position: "bottom-center",
          duration: 7000,
          className: "toastedError",
          type: "error",
          icon: "mdi-alert-circle-outline"
        });
      } else {
        this.dialogStepper = false;
        this.$emit("checkoutProceed", {
          address: this.address,
          messageToOwner: this.messageToOwner
        });
      }
    },
    getcollectionText(value, collection) {
      var state = collection.find(e => e.value === value);
      if (state) {
        return state.text;
      } else {
        return value;
      }
    }
  }
};
</script>

<style scoped>
.v-stepper {
  box-shadow: 0px 0px 0px 0px !important;
}

.v-stepper__header {
  width: 30%;
  display: flex;
  margin-left: auto;
  font-size: 0.6rem !important;
  box-shadow: 0px 0px 0px 0px !important;
}

@media only screen and (max-width: 780px) {
  .v-stepper__header {
    width: 100% !important;
  }

  .hide-sm {
    display: none !important;
  }
}
.v-dialog {
  background: linear-gradient(
    180deg,
    rgba(235, 235, 235, 0.5) 47.92%,
    rgba(255, 223, 223, 0.5) 100%
  ) !important;
}

.v-sheet.v-card {
  border-radius: 0px;
}
</style>
