<template>
  <div>
    <v-card
      class="mx-auto elevation-6 border-radius"
      max-width="360px"
      max-height="305px"
      outlined
    >
      <v-progress-linear
        indeterminate
        color="teal"
        v-if="request && request.tracking_number == 'generating'"
      ></v-progress-linear>

      <request-book-details
        :request="request"
        :status="parameters.requestStatus[request.status.value].sender"
      ></request-book-details>

      <v-card-text
        class="text-left pb-0 pt-0"
        v-if="
          request.tracking_number && request.tracking_number != 'generating'
        "
      >
        <v-col cols="auto">
          <p class="caption">
            Tracking Number:
            <span class="font-weight-bold">{{ request.tracking_number }}</span>
          </p>
        </v-col>
      </v-card-text>

      <v-card-actions class="mr-2">
        <template v-if="isOpen">
          <v-btn
            class="ml-2 mb-5 primary btn-sm-font"
            rounded
            @click="acceptRequest"
            min-width="184.35px"
            min-height="35px"
          >
            Accept
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn
            @click="declineRequest"
            class=" btn-sm-font ml-2 mb-5"
            rounded
            text
            min-width="85px"
            min-height="35px"
          >
            Decline
          </v-btn>
        </template>

        <template v-if="inProgress">
          <template v-if="!request.shipping_label_url">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  @click.stop="dialogDeliveryAddress = true"
                  icon
                >
                  <v-icon>mdi-home-map-marker</v-icon>
                </v-btn>
              </template>
              <span>Show delivery address</span>
            </v-tooltip>

            <v-spacer></v-spacer>
          </template>

          <v-btn @click="shipRequest" text>Shipped</v-btn>

          <v-spacer></v-spacer>

          <v-btn
            @click="generateShippingLabel"
            text
            :disabled="request.tracking_number == 'generating'"
            v-if="!request.shipping_label_url"
            >Generate Label</v-btn
          >
          <v-btn text v-else>
            <a :href="request.shipping_label_url" target="_blank">
              Print Label
            </a>
          </v-btn>
        </template>
      </v-card-actions>
    </v-card>

    <v-row>
      <v-dialog v-model="dialogDeliveryAddress" max-width="290">
        <v-card>
          <v-card-title class="headline">
            Recipient Address
          </v-card-title>

          <v-card-text>
            <p class="mb-0">
              {{ request.book_recipient_address.first_name }}
              {{ request.book_recipient_address.last_name }},
            </p>
            <!-- <p class="mb-0">
              {{ request.book_recipient_address.house }},
              {{ request.book_recipient_address.street }},
            </p> -->
            <p class="mb-0">
              {{ request.book_recipient_address.address_line }},
            </p>
            <p class="mb-0" v-if="request.book_recipient_address.state">
              {{ request.book_recipient_address.city }},
              {{
                getcollectionText(
                  request.book_recipient_address.state,
                  usStates
                )
              }},
            </p>
            <p class="mb-0">{{ request.book_recipient_address.zip_code }},</p>
            <p class="mb-0">
              {{
                getcollectionText(
                  request.book_recipient_address.country,
                  countries
                )
              }}.
            </p>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="primary" text @click="dialogDeliveryAddress = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import RequestBookDetails from "./RequestBookDetails";
import { usStates } from "@/utils/usStates.js";
import { countries } from "@/utils/countryListAllIsoData.js";
import {
  parameters,
  requestStatusRecipientPaid,
  requestStatusShippingLabelPrinted,
  requestStatusSenderAccepted
} from "@/utils/parameters.js";
export default {
  name: "SenderRequestCard",
  props: ["request", "userAddresses"],
  components: {
    RequestBookDetails
  },
  data() {
    return {
      usStates: usStates,
      countries: countries,
      parameters: parameters,
      requestStatusRecipientPaid: requestStatusRecipientPaid,
      requestStatusShippingLabelPrinted: requestStatusShippingLabelPrinted,
      requestStatusSenderAccepted: requestStatusSenderAccepted,
      dialogDeliveryAddress: false
    };
  },
  computed: {
    userBook() {
      if (this.request.request_books) {
        return this.request.request_books[0].user_book;
      }
      return "";
    },
    inProgress() {
      return (
        this.request.status &&
        (this.request.status.value === this.requestStatusSenderAccepted ||
          this.request.status.value === this.requestStatusShippingLabelPrinted)
      );
    },
    isOpen() {
      return (
        this.request.status &&
        this.request.status.value === this.requestStatusRecipientPaid
      );
    }
  },
  methods: {
    goToBook(book) {
      this.$router.push(`/books/${book.id}`);
    },
    declineRequest() {
      this.$emit("declineRequest", this.request);
    },
    acceptRequest() {
      this.$emit("acceptRequest", this.request);
    },
    generateShippingLabel() {
      this.$emit("generateShippingLabel", this.request);
    },
    shipRequest() {
      this.$emit("shipRequest", this.request);
    },
    getcollectionText(value, collection) {
      var state = collection.find(e => e.value === value);
      if (state) {
        return state.text;
      } else {
        return value;
      }
    }
  }
};
</script>

<style scoped>
a {
  color: inherit !important;
  text-decoration: none;
}
</style>
