<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :single-expand="singleExpand"
    :expanded.sync="expanded"
    item-key="id"
    show-expand
    class="pa-10"
  >
    <template v-slot:expanded-item="{ item }">
      <td class="pa-5" :colspan="100">
        <v-row>
          <v-col md="6">
            <div v-for="(request_book, i) in item.request_books" :key="i">
              <p class="font-weight-bold">
                {{ request_book.user_book.book.title }}
              </p>
              <div
                v-if="
                  request_book.user_book.book.authors &&
                    request_book.user_book.book.authors.length > 0
                "
              >
                <span md="auto">Author(s): </span>
                <span md="auto" class="font-weight-bold">
                  <span
                    v-for="(author, index) in request_book.user_book.book
                      .authors"
                    :key="author.id"
                    >{{ author.name }}
                    <span v-if="request_book.user_book.book.authors[index + 1]"
                      >,
                    </span>
                  </span>
                </span>
              </div>
              <div v-if="request_book.user_book.condition">
                <span md="auto">Book Condition:</span>
                <span md="auto" class="font-weight-bold">
                  {{
                    parameters.bookCondition[
                      request_book.user_book.condition.value
                    ]
                  }}
                </span>
              </div>
              <div v-if="request_book.user_book.book.publication_year">
                <span md="auto">Publication:</span>
                <span md="auto" class="font-weight-bold">
                  {{ request_book.user_book.book.publication_year }}
                </span>
              </div>
              <v-divider class="mb-5"></v-divider>
            </div>
          </v-col>
          <v-col md="6">
            <div v-if="item.status.value !== 'declined'">
              <span md="auto">Shipping Cost:</span>
              <span md="auto" class="font-weight-bold"> $ 4.80</span>
            </div>
            <div v-if="item.tracking_number">
              <span md="auto">Tracking Number:</span>
              <span md="auto" class="font-weight-bold">
                {{ item.tracking_number }}</span
              >
            </div>
          </v-col>
        </v-row>

        <div>
          <v-subheader class="ma-0 pa-0">Activities:</v-subheader>
          <v-row
            v-for="activity in item.activities.filter(
              el => !el.status.value.includes('ReminderSent')
            )"
            :key="activity.id"
          >
            <v-col class="pt-0 mt-0" cols="auto">
              {{ activity.created | moment("calendar") }}
            </v-col>
            <v-col cols="auto" class="pt-0 mt-0 font-weight-bold">
              {{
                parameters.requestStatus[activity.status.value][item.swapRole]
              }}
            </v-col>
          </v-row>
        </div>
      </td>
    </template>

    <template v-slot:no-data>YOU HAVE NO SWAP HERE YET!</template>

    <template v-slot:[`item.status`]="{ item }">
      {{ parameters.requestStatus[item.status.value][item.swapRole] }}
    </template>

    <template v-slot:[`item.created`]="{ item }">
      <span>
        {{ item.created | moment("Do MMM YYYY") }}
      </span>
    </template>

    <template v-slot:[`item.book`]="{ item }">
      <span>
        {{ item.book }}
        <span class="grey--text caption" v-if="item.request_books.length > 1"
          >+{{ item.request_books.length - 1 }} more</span
        >
      </span>
    </template>
  </v-data-table>
</template>

<script>
import { parameters } from "@/utils/parameters.js";
export default {
  name: "SwapHistoryTable",
  props: ["items", "headers"],
  data() {
    return {
      parameters: parameters,
      expanded: [],
      singleExpand: true
    };
  }
};
</script>
