<template>
  <v-container style="background: #ffeded" class="ma-0 pa-0">
    <v-card flat class="ma-0 pa-0 border-radius" color="#ffeded">
      <div class="d-flex flex-no-wrap">
        <v-avatar
          height="118px"
          width="76px"
          class="rounded-lg ma-3"
          size="90"
          tile
        >
          <v-img
            :src="
              book.large_image_url
                ? book.large_image_url
                : require('@/assets/paperbackbook.jpg')
            "
          ></v-img>
        </v-avatar>

        <div class="mt-2 ml-2 font-md">
          <h6 class="mb-4">
            {{ book.title }}
          </h6>

          <div
            class="mb-0"
            style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 125%; color: #444444;"
          >
            <span
              v-for="author in book.authors"
              :key="author.id"
              class=" text-capitalize"
            >
              {{ author.name.toLowerCase() }}
            </span>

            <p class="mt-0">
              {{ book.publication_date | moment("YYYY") }}
            </p>
          </div>

          <div
            style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 125%; color: #C4C4C4;"
          >
            <v-btn
              class="btn-sm-font"
              color=""
              height="26px"
              width="110px"
              rounded
              @click="addBookToRequest"
            >
              Add (+3,00$)
            </v-btn>
          </div>
        </div>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import { parameters } from "@/utils/parameters.js";
export default {
  name: "bookDetails",
  props: ["book"],
  data() {
    return {
      parameters: parameters
    };
  },
  methods: {
    addBookToRequest() {
      this.$emit("addBookToRequest", this.book);
    }
  }
};
</script>
