<template>
  <v-app>
    <v-row justify="center" no-gutters class="mt-10 pt-10">
      <v-col md="8">
        <div>
          <v-btn
            v-if="routeFromHome"
            text
            class="ml-0 pl-0 btn-sm-font"
            height="35px"
            width="160px"
            @click="
              $router.push({
                name: 'searchResult',
                params: { display: 'results' }
              })
            "
          >
            <v-icon left>
              mdi-chevron-left
            </v-icon>
            go to books
          </v-btn>
          <v-btn
            v-else
            text
            class="ml-0 pl-0 btn-sm-font"
            height="35px"
            @click="$router.go(-1)"
          >
            <v-icon left>
              mdi-chevron-left
            </v-icon>
            back
          </v-btn>
        </div>
        <v-row>
          <v-col md="4">
            <v-card max-width="300" class="text-left" flat>
              <v-img
                :src="
                  book.large_image_url
                    ? book.large_image_url
                    : require('@/assets/paperbackbook.jpg')
                "
                class="white--text align-end"
              >
              </v-img>
            </v-card>
          </v-col>
          <v-col>
            <v-row>
              <v-col md="8" xs="12"
                ><h2>{{ book.title }}</h2></v-col
              >
              <v-col mb="">
                <v-row>
                  <v-col cols="12" class="pa-0 ma-0 text-right">
                    <v-hover v-slot="{ hover }">
                      <v-btn
                        :class="{ secondaryHover: hover, secondary: !hover }"
                        class="btn-sm-font"
                        height="35px"
                        width="160px"
                        rounded
                        dark
                        @click="addToWishlist(book)"
                        :disabled="isInWishlist"
                      >
                        Add to Wishlist
                      </v-btn>
                    </v-hover>
                  </v-col>
                  <v-col cols="12" class="pa-0 ma-0 mt-3 text-right"
                    ><user-book-dialog
                      :btnStyle="{ width: '160px', height: '35px' }"
                      :title="'Offer'"
                      :book="book"
                      @saveToBookshelf="handleSaveToBookshelf"
                    ></user-book-dialog
                  ></v-col>
                  <v-col
                    cols="12"
                    class="pa-0 ma-0 mt-3 text-right"
                    v-if="user.is_staff"
                  >
                    <v-btn
                      color="white"
                      class="btn-sm-font"
                      height="35px"
                      width="160px"
                      rounded
                      light
                      @click="updateDialog = true"
                    >
                      Update
                      <v-icon right color="grey darken-2">
                        mdi-pencil
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

            <v-row class="mt-10 mb-10">
              <v-col>
                <h6
                  class="font-weight-medium font-14 font-family: Roboto;"
                  v-for="(author, index) in book.authors"
                  :key="author.id"
                >
                  {{
                    author.name + `${book.authors[index + 1] ? " and " : ""}`
                  }}
                </h6>
              </v-col>

              <v-col
                class="font-14"
                v-if="book && book.publisher && book.publisher.name"
              >
                <span>{{ book.publisher.name }}</span>
              </v-col>

              <v-col cols="12" v-if="book.number_of_pages">
                <span
                  style="font-weight: 300; font-size: 12px; line-height: 14px; font-family: Roboto;"
                  >{{ book.number_of_pages }} pages</span
                >
              </v-col>

              <v-col cols="12">
                <div
                  class="text--primary"
                  style="font-family: Roboto; font-weight: 300; font-size: 13px; line-height: 19px;"
                >
                  {{ book.editorial_review_content }}
                </div>
              </v-col>

              <v-col cols="12" class="mt-10">
                <div v-if="book.topics">
                  <v-chip
                    style="font-family: Roboto; pointer-events: none;"
                    v-for="topic in book.topics"
                    :key="topic.id"
                    class="text-capitalize mr-2 mt-2"
                    outlined
                  >
                    {{ topic.value }}
                  </v-chip>
                </div>
              </v-col>

              <v-col cols="12">
                <div
                  style="font-family: Roboto; font-weight: 300; font-size: 14px; line-height: 16px;"
                >
                  <p>
                    <span style="color: #C4C4C4;">Publication: </span>
                    <span>{{ book.publication_date | moment("YYYY") }}</span>
                  </p>
                  <p>
                    <span>ISBN: </span>
                    <span>{{ book.isbn }}</span>
                  </p>
                  <p style="color: #444444;">
                    <span>ASIN: </span>
                    <span>{{ book.asin }}</span>
                  </p>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-dialog v-model="updateDialog" max-width="658px">
      <v-card class="pa-10">
        <h3 class="headline text-center font-weight-medium">
          Update Book Details
        </h3>
        <v-form ref="form" v-model="updateValid" lazy-validation>
          <v-row>
            <v-col>
              <v-text-field
                outlined
                dense
                v-model="book.title"
                :rules="valueRules"
                label="Title"
                required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12">
              <v-textarea
                outlined
                dense
                v-model="book.editorial_review_content"
                :rules="valueRules"
                label="Description"
                rows="2"
                required
              ></v-textarea>
            </v-col>

            <v-col>
              <v-file-input
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Upload an image"
                prepend-icon="mdi-camera"
                dense
                :rules="valueRules"
                outlined
                @change="storeImageFile"
                required
              ></v-file-input>
            </v-col>
          </v-row>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="updateBook()"
              :disabled="!updateValid"
            >
              Save
            </v-btn>

            <v-btn color="" text @click="updateDialog = !updateDialog">
              cancel
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import UserBookDialog from "../components/UserBookDialog";
export default {
  name: "BookView",
  components: { UserBookDialog },
  mounted() {
    this.initialize();
  },
  beforeRouteEnter(to, from, next) {
    var homeRoutes = ["home", "searchResult"];
    next(vm => {
      if (homeRoutes.includes(from.name)) {
        vm.routeFromHome = true;
      } else {
        vm.routeFromHome = false;
      }
    });
  },
  computed: {
    ...mapGetters(["user", "wishlist", "bookshelf"]),
    isInWishlist() {
      return Boolean(
        this.wishlist.find(element => element.book.id == this.book.id)
      );
    },
    isInBookshelf() {
      return Boolean(
        this.bookshelf.find(element => element.book.id == this.book.id)
      );
    }
  },
  data() {
    return {
      dialog: false,
      book: {},
      bookId: null,
      routeFromHome: false,
      updateDialog: false,
      valueRules: [v => !!v || "Value is required"],
      updateValid: false,
      newImage: null,
      file: null
    };
  },
  watch: {
    $route(to) {
      this.id = to.params.id;
      this.initialize();
    }
  },
  methods: {
    initialize() {
      this.bookId = this.$route.params.id;
      this.getBook();
      this.$store.dispatch("getWishlist");
      this.$store.dispatch("getBookshelf");
    },
    storeImageFile(event) {
      this.file = event;
      let reader = new FileReader();
      /*
        Add an event listener to the reader that when the file
        has been loaded, we flag the show preview as true and set the
        image to be what was read from the reader.
      */
      reader.addEventListener(
        "load",
        function() {
          this.newImage = reader.result;
        }.bind(this),
        false
      );

      /*
        Check to see if the file is not empty.
      */
      if (this.file) {
        /*
          Ensure the file is an image file.
        */
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          /*
            Fire the readAsDataURL method which will read the file in and
            upon completion fire a 'load' event which we will listen to and
            display the image in the preview.
          */
          reader.readAsDataURL(this.file);
        }
      }
    },
    updateBook() {
      this.$refs.form.resetValidation();
      if (this.updateValid) {
        this.updateDialog = false;
        console.log("Update book", this.book);
        const formData = new FormData();
        formData.append("title", this.book.title);
        formData.append(
          "editorial_review_content",
          this.book.editorial_review_content
        );
        if (this.newImage != null) {
          formData.append("image", this.newImage);
        }

        this.$store
          .dispatch("updateBook", { id: this.book.id, data: formData })
          .then(response => {
            this.book = response.data;
          });
      }
    },
    getBook() {
      this.$store.dispatch("getBook", this.bookId).then(response => {
        this.book = response.data;
      });
    },
    addToWishlist(book) {
      var payload = {
        book: book,
        userID: this.user.id
      };
      this.$store.dispatch("addToWishlist", payload);
    },
    // Bookshelf
    openBookDialog() {
      this.dialog = true;
    },
    handleCloseDialog() {
      this.dialog = false;
    },
    handleSaveToBookshelf(payload) {
      this.$store.dispatch("addToBookshelf", payload);
    }
  }
};
</script>

<style scoped></style>
