<template>
  <v-app>
    <v-row justify="center" no-gutters class="mt-10">
      <v-col md="8">
        <div v-if="bookStatus == 'available'">
          <v-container class="mb-12">
            <v-row align="end" no-gutters style="height: 120px;">
              <v-col class="text-center">
                <h3>Books available now</h3>
                <p class="pt-6">
                  See a book you like? Add it to your Wishlist and checkout
                  right away!
                </p>
              </v-col>
            </v-row>
          </v-container>
        </div>

        <v-app class="mb-10">
          <v-progress-linear
            indeterminate
            color="teal"
            v-if="bookStatus == 'searching'"
          ></v-progress-linear>

          <div v-if="!bookStatus">
            <v-container class="mb-2">
              <v-row align="end" no-gutters>
                <v-col class="text-center">
                  <p>Didn't see the Book you're looking for?</p>

                  <add-book-dialog></add-book-dialog>
                </v-col>
              </v-row>
            </v-container>
          </div>

          <v-row>
            <v-col v-for="(book, index) in books" :key="index">
              <book-card :book="book">
                <template v-slot:actions>
                  <v-btn
                    color="secondary"
                    class="elevation-3 btn-sm-font"
                    height="35px"
                    rounded
                    @click="addToWishlist(book)"
                    :disabled="isInWishlist(book)"
                  >
                    Add to wishlist
                  </v-btn>

                  <v-spacer></v-spacer>

                  <user-book-dialog
                    :title="'Offer'"
                    :book="book"
                    @saveToBookshelf="handleSaveToBookshelf"
                  ></user-book-dialog>
                </template>
              </book-card>
            </v-col>
          </v-row>
        </v-app>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { eventBus } from "@/main";
import { mapGetters } from "vuex";
import BookCard from "../components/BookCard";
import UserBookDialog from "../components/UserBookDialog";
import AddBookDialog from "../components/AddBookDialog";

export default {
  name: "BooksView",
  components: { BookCard, UserBookDialog, AddBookDialog },
  mounted() {
    this.initialize();
    this.$store.dispatch("getUserBookConditions");

    eventBus.$on("reloadHome", () => {
      this.initialize();
    });
  },
  data() {
    return {
      book: {}
    };
  },
  computed: {
    ...mapGetters(["books", "user", "wishlist", "bookStatus"])
  },
  methods: {
    initialize() {
      /*
      This persists the last books the user saw before navigating away.
      using $router.push({ name: 'searchResult', params: { display: 'results' }})
      */
      if (this.$route.params.display !== "results") {
        this.getBooks();
      }
    },
    getBooks() {
      if (this.$route.query.search) {
        this.$store.dispatch("getBooks", this.$route.query.search);
      } else {
        this.$store.dispatch("getBooks");
      }
    },
    addToWishlist(book) {
      var payload = {
        book: book,
        userID: this.user.id
      };
      this.$store.dispatch("addToWishlist", payload);
    },
    getWishlist() {
      this.$store.dispatch("getWishlist");
    },
    isInWishlist(book) {
      return Boolean(this.wishlist.find(element => element.book.id == book.id));
    },
    // Bookshelf
    getBookshelf() {
      this.$store.dispatch("getBookshelf");
    },
    handleSaveToBookshelf(payload) {
      this.$store.dispatch("addToBookshelf", payload);
    }
  }
};
</script>

<style></style>
