<template>
  <v-app>
    <login-form @login="handleLogin">
      <template v-slot:loadingCirle>
        <div class="progress">
          <v-progress-circular
            :size="150"
            color="primary"
            indeterminate
            v-if="loadingCirle"
          ></v-progress-circular>
        </div>
      </template>
      <div
        id="errorMsgDiv"
        v-if="loginErrorMessage"
        class="deep-orange lighten-4 black--text"
      >
        {{ loginErrorMessage }}
      </div>
    </login-form>
  </v-app>
</template>

<script>
import LoginForm from "../components/LoginForm";
export default {
  name: "LoginView",
  components: {
    LoginForm
  },
  data() {
    return {
      password: "",
      username: "",
      loginErrorMessage: null,
      loadingCirle: null
    };
  },
  methods: {
    handleLogin(credentials) {
      this.loadingCirle = true;
      let payload = {
        username: credentials.username,
        password: credentials.password
      };
      this.$store
        .dispatch("login", payload)
        .then(response => {
          this.loadingCirle = false;
          this.$store.dispatch("setJWT", response.data.access);
          this.$store.dispatch("setJWTRefresh", response.data.refresh);
          this.$store
            .dispatch("getAuthenticatedUser")
            .then(response2 => {
              this.$store.dispatch("setUser", response2.data);
              this.goToHome();
            })
            .catch(() => {
              this.loadingCirle = false;
              this.loginErrorMessage =
                "The username or password is not correct.";
            });
        })
        .catch(() => {
          this.loadingCirle = false;
          this.loginErrorMessage = "The username or password is not correct.";
        });
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    goToHome() {
      this.$router.push({ name: "home" });
    }
  }
};
</script>

<style scoped>
#errorMsgDiv {
  border-radius: 4px;
  margin-bottom: 15px;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
</style>
