<template>
  <v-row justify="center" no-gutters class="pt-12 mt-12">
    <v-col md="8">
      <v-app>
        <v-card flat class="pa-0 ma-0">
          <v-toolbar flat class="pa-5">
            <h1 class="title pt-0 pb-0">Swap History</h1>
            <v-spacer></v-spacer>
            <v-toolbar-title class="subtitle-2"
              >Browse all your previous swaps</v-toolbar-title
            >
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-tabs background-color="white" right color="primary">
            <v-tab>All</v-tab>
            <v-tab>Outgoing</v-tab>
            <v-tab>Incoming</v-tab>

            <v-tab-item>
              <v-row>
                <v-col>
                  <swap-history-table
                    :items="allSwapHistory"
                    :headers="headers"
                  ></swap-history-table>
                </v-col>
              </v-row>
            </v-tab-item>

            <v-tab-item>
              <v-row>
                <v-col>
                  <swap-history-table
                    :items="outgoingSwapHistory"
                    :headers="headers"
                  ></swap-history-table>
                </v-col>
              </v-row>
            </v-tab-item>

            <v-tab-item>
              <v-row>
                <v-col>
                  <swap-history-table
                    :items="incomingSwapHistory"
                    :headers="headers"
                  ></swap-history-table>
                </v-col>
              </v-row>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-app>
    </v-col>
  </v-row>
</template>

<script>
import { eventBus } from "@/main";
import { mapGetters } from "vuex";
import SwapHistoryTable from "../components/SwapHistoryTable";
export default {
  name: "SwapHistoryView",
  components: { SwapHistoryTable },
  mounted() {
    this.initialize();

    eventBus.$on("reloadSwapHistory", () => {
      this.initialize();
    });
  },
  data() {
    return {
      expanded: [],
      singleExpand: false,
      headers: [
        { text: "Swap", value: "created", width: "20%" },
        {
          text: "Book",
          align: "start",
          sortable: false,
          value: "book",
          width: "60%"
        },
        { text: "Status", value: "status" },
        { text: "", value: "data-table-expand" }
      ]
    };
  },
  computed: {
    ...mapGetters(["swapHistory", "user"]),
    allSwapHistory() {
      var allSwapHistory = this.swapHistory;
      allSwapHistory.forEach(request => {
        request.swapRole = this.getSwapRole(request);
      });
      return allSwapHistory;
    },
    outgoingSwapHistory() {
      return this.swapHistory.filter(
        item => item.book_sender.id === this.user.id
      );
    },
    incomingSwapHistory() {
      return this.swapHistory.filter(
        item => item.book_recipient.id === this.user.id
      );
    }
  },
  methods: {
    initialize() {
      this.$store.dispatch("getSwapHistory");
    },
    getSwapRole(request) {
      if (this.user.id === request.book_recipient.id) return "recipient";
      if (this.user.id === request.book_sender.id) return "sender";
    }
  }
};
</script>
