<template>
  <v-card class="pa-10 border-radius">
    <template v-if="!isInBookshelf">
      <h3 class="headline text-center font-weight-medium">
        What is the book's condition?
      </h3>
      <v-form ref="form" v-model="valid" :lazy-validation="lazy">
        <v-card-text>
          <v-radio-group
            v-model="bookConditionRadioID"
            :rules="[v => !!v || 'Condition is required']"
            required
          >
            <v-radio
              :value="userBookCondition.id"
              v-for="userBookCondition in userBookConditions"
              :key="userBookCondition.id"
              color="primary"
            >
              <template v-slot:label>
                <div class="font-condition">
                  <strong class="text-capitalize"
                    >{{
                      parameters.bookCondition[userBookCondition.value]
                    }}:</strong
                  >
                  {{ userBookCondition.description }}
                </div>
              </template>
            </v-radio>
          </v-radio-group>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            rounded
            color="primary"
            @click="offerBook"
            :disabled="!valid"
            min-width="156.43px"
            min-height="35px"
            class="btn-sm-font elevation-0"
          >
            Offer this book
          </v-btn>

          <v-spacer></v-spacer>
        </v-card-actions>
      </v-form>
    </template>

    <div v-else class="text-center paddingDiv">
      <v-card-title class="headline"
        >We've added this book to your bookshelf!</v-card-title
      >
      <v-card-text>
        <p>Thank you for sharing your book!</p>
        <p>Now other Swapreads members can request it.</p>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="primary" text @click="goToBookshelf" :disabled="!valid">
          Take me to my bookshelf
        </v-btn>

        <v-btn color="" text @click="$emit('closedialog')" :disabled="!valid">
          continue browsing
        </v-btn>

        <v-spacer></v-spacer>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import { parameters } from "@/utils/parameters.js";
export default {
  name: "AddBookshelfForm",
  props: ["isInBookshelf", "bookConditionID"],
  mounted() {},
  data() {
    return {
      parameters: parameters,
      bookConditionRadioID: this.bookConditionID ? this.bookConditionID : "",
      valid: true,
      lazy: false
    };
  },
  computed: {
    ...mapGetters(["userBookConditions"])
  },
  methods: {
    offerBook() {
      this.$refs.form.validate();
      if (this.valid) {
        this.$emit("closedialog");
        this.$emit(
          "saveToBookshelf",
          this.userBookConditions.find(e => e.id === this.bookConditionRadioID)
        );
      }
    },
    goToBookshelf() {
      if (this.$route.name !== "bookshelf") {
        this.$router.push({ name: "bookshelf" });
      }
    }
  }
};
</script>

<style scoped>
.paddingDiv {
  padding: 20px;
}

.font-condition {
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  color: #444444;
}

.v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
  margin-bottom: 24px;
}
</style>
