<template>
  <span>
    <v-btn
      color="primary"
      class="elevation-3 btn-sm-font"
      height="25px"
      rounded
      @click.stop="openBookDialog"
    >
      Add a Book
    </v-btn>
    <v-row justify="center">
      <v-dialog v-model="bookDialog" max-width="658px">
        <book-form @closedialog="handleCloseDialog"></book-form>
      </v-dialog>
    </v-row>
  </span>
</template>

<script>
import { mapGetters } from "vuex";
import BookForm from "./BookForm";
export default {
  name: "AddBookDialog",
  components: { BookForm },
  props: {
    book: Object
  },
  mounted() {
    this.initialize();
  },
  computed: {
    ...mapGetters(["user"])
  },
  data() {
    return {
      bookDialog: false,
      bookId: null
    };
  },
  methods: {
    initialize() {},
    openBookDialog() {
      this.bookDialog = true;
    },
    handleCloseDialog() {
      this.bookDialog = false;
    }
  }
};
</script>

<style scoped></style>
