<template>
  <v-card class="pa-10">
    <h3 class="headline text-center font-weight-medium">
      Enter Book Details
    </h3>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col>
          <v-text-field
            outlined
            dense
            v-model="book.title"
            :rules="valueRules"
            label="Title"
            required
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            dense
            v-model="book.isbn"
            :rules="isbnRules"
            label="ISBN"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col :cols="authors.length ? 6 : 6" class="mb-0 pb-0">
          <v-text-field
            outlined
            dense
            :rules="authorRules"
            v-model="authorName"
            label="Author's name"
            @keydown="addAuthor"
          >
            <template v-slot:append>
              <v-btn
                color="primary"
                v-if="authorName.length"
                icon
                @click="addAuthor(authorName)"
              >
                <v-icon>
                  mdi-plus-circle
                </v-icon>
                <!-- Add to List -->
              </v-btn>
            </template>
          </v-text-field>
        </v-col>
        <v-col v-if="authors.length" class="mt-0 pt-0">
          <p class="ma-0 pa-0">Authors:</p>
          <v-chip
            v-for="author in authors"
            :key="author"
            class="ml-0 mt-0 mr-2"
            close
            color="primary"
            outlined
            @click:close="deleteFromAuthors(author)"
          >
            {{ author }}
          </v-chip>
        </v-col>
        <v-col v-else class="mt-0 pt-0">
          <p class="ma-0 pa-0">Authors:</p>
          <v-chip color="secondary" class="ma-0" style="font-size: 11px">
            Type author's name then add to list
          </v-chip>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-text-field
            outlined
            dense
            v-model="book.publication_date"
            :rules="yearRules"
            label="Year of publication"
            required
            type="number"
            min="1"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            dense
            v-model="book.number_of_pages"
            label="Number of pages"
            type="number"
            min="1"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-textarea
            outlined
            dense
            v-model="book.editorial_review_content"
            label="Description"
            rows="2"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="primary" text @click="saveBook" :disabled="!valid">
          Save
        </v-btn>

        <v-btn color="" text @click="$emit('closedialog')">
          cancel
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import { parameters } from "@/utils/parameters.js";
export default {
  name: "BookForm",
  props: [""],
  mounted() {},
  data() {
    return {
      parameters: parameters,
      valid: false,
      lazy: false,
      book: {},
      authors: [],
      authorName: "",
      title: "",
      valueRules: [v => !!v || "Value is required"],
      authorRules: [() => this.authors.length > 0 || "Provide author's name"],
      yearRules: [
        v => !!v || "Provide year of publication",
        v => (v && v.length == 4) || "Value must be 4 digit long"
      ],
      isbnRules: [
        v => !!v || "ISBN is required",
        v =>
          (v && v.length >= 10 && v.length <= 13) ||
          "Value must be 10 to 13 characters"
      ]
    };
  },
  computed: {
    ...mapGetters([])
  },
  methods: {
    deleteFromAuthors(author) {
      this.authors = this.authors.filter(item => item != author);
    },
    addAuthor(payload) {
      if (
        this.authorName.length &&
        (payload.key === "Enter" ||
          payload instanceof MouseEvent ||
          typeof payload == "string")
      ) {
        this.deleteFromAuthors(this.authorName);
        this.authors.push(this.authorName);
        this.authorName = "";
      }
    },
    saveBook() {
      if (this.$refs.form.validate()) {
        let book = { ...this.book };

        var authors = this.authors.map(item => {
          return { name: item };
        });

        book.publication_date = this.$moment(
          "01-01-" + book.publication_date
        ).format("YYYY-MM-DDThh:mm:ss");

        book.authors_json = JSON.stringify(authors);

        let formData = new FormData();
        for (var key in book) {
          formData.append(key, book[key]);
        }

        this.$store.dispatch("createBook", formData).then(response => {
          this.$router.push(`/books/${response.data.id}`);
        });
      }
    }
  }
};
</script>

<style scoped></style>
