<template>
  <v-hover v-slot="{ hover }" close-delay="100">
    <v-card
      :elevation="0"
      :class="{ hoverCard: hover }"
      flat
      class="rounded-lg mx-auto"
      :width="200"
      v-if="book"
      color="transparent"
    >
      <v-img
        height="320px"
        class="hover-cursor"
        :src="
          book.large_image_url
            ? book.large_image_url
            : require('@/assets/paperbackbook.jpg')
        "
        @click="goToBook(book)"
      >
        <v-app-bar flat color="rgba(0, 0, 0, 0)" v-if="isRemovable">
          <v-spacer></v-spacer>

          <v-btn
            color="grey darken-3"
            icon
            @click="
              $emit('remove');
              $event.stopPropagation();
            "
          >
            <v-icon>mdi-close-circle</v-icon>
          </v-btn>
        </v-app-bar>
      </v-img>

      <v-card-actions class="pl-0 pr-0">
        <slot name="actions"></slot>
      </v-card-actions>

      <div
        @click="goToBook(book)"
        class="font-sm mt-0 pt-2 hover-cursor"
        style="font-family: Roboto; font-style: normal; font-size: 14px; line-height: 125%;"
      >
        <div class="pb-2">
          <h6
            @click="goToBook(book)"
            class="pb-0 text--primary font-weight-medium font-md mb-2 hover-cursor"
          >
            {{ book.title }}
          </h6>
        </div>
        <div class="book-details">
          <span
            v-for="author in book.authors"
            :key="author.id"
            class="text-capitalize"
          >
            {{ author.name.toLowerCase() }}
          </span>
          <div class="pt-1">
            {{ book.publication_date | moment("YYYY") }}
          </div>
        </div>
      </div>
      <div class="mt-0 pt-0">
        <slot name="details"></slot>
      </div>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  name: "BookCard",
  props: ["book", "isRemovable"],
  data() {
    return {};
  },
  methods: {
    goToBook(book) {
      this.$router.push(`/books/${book.id}`);
    }
  }
};
</script>

<style scoped>
.book-details {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 125%;
  /* or 17px */

  color: #444444;
}
.hover-cursor {
  cursor: pointer;
}

.hoverCard {
  opacity: 0.7;
}
</style>
