<template>
  <span>
    <v-btn text @click.stop="openBookDialog">
      Modify
    </v-btn>
    <v-row justify="center">
      <v-dialog v-model="dialog" max-width="550">
        <add-bookshelf-form
          :isInBookshelf="false"
          :bookConditionID="userbook.condition.id"
          @saveToBookshelf="handleSaveToBookshelf"
          @closedialog="handleCloseDialog()"
        ></add-bookshelf-form>
      </v-dialog>
    </v-row>
  </span>
</template>

<script>
import { mapGetters } from "vuex";
import AddBookshelfForm from "./AddBookshelfForm";
export default {
  name: "ModifyUserBookDialog",
  components: { AddBookshelfForm },
  props: ["userbook"],
  mounted() {
    this.initialize();
  },
  computed: {
    ...mapGetters(["user"])
  },
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    initialize() {},
    openBookDialog() {
      this.dialog = true;
    },
    handleCloseDialog() {
      this.dialog = false;
    },
    handleSaveToBookshelf(bookCondition) {
      var payload = {
        id: this.userbook.id,
        condition: bookCondition
      };
      this.$emit("saveToBookshelf", payload);
    }
  }
};
</script>

<style scoped></style>
