<template>
  <span v-if="book">
    <v-btn
      color="white"
      rounded
      :width="btnStyle.width"
      :height="btnStyle.height"
      @click.stop="openBookDialog"
      :disabled="isInBookshelf"
      class="btn-sm-font elevation-3 btn-long one-edge-shadow"
    >
      Offer
    </v-btn>
    <v-row justify="center">
      <v-dialog v-model="offerDialog" max-width="558px">
        <add-bookshelf-form
          :isInBookshelf="false"
          :book="book"
          @saveToBookshelf="handleSaveToBookshelf"
          @closedialog="handleCloseDialog()"
        ></add-bookshelf-form>
      </v-dialog>
    </v-row>
  </span>
</template>

<script>
import { mapGetters } from "vuex";
import AddBookshelfForm from "./AddBookshelfForm";
export default {
  name: "UserBookDialog",
  components: { AddBookshelfForm },
  props: {
    btnStyle: {
      type: Object,
      default: function() {
        return { width: "74px", height: "35px" };
      }
    },

    book: Object
  },
  mounted() {
    this.initialize();
  },
  computed: {
    ...mapGetters(["user", "bookshelf"]),
    isInBookshelf() {
      if (this.book?.id && this.bookshelf.length > 0) {
        return Boolean(
          this.bookshelf.find(element => {
            if (element?.book?.id) {
              return element.book.id == this.book.id;
            }
          })
        );
      }
      return false;
    }
  },
  data() {
    return {
      offerDialog: false,
      bookId: null
    };
  },
  methods: {
    initialize() {},
    // Bookshelf
    openBookDialog() {
      this.offerDialog = true;
    },
    handleCloseDialog() {
      this.offerDialog = false;
    },
    handleSaveToBookshelf(bookCondition) {
      var payload = {
        book: this.book,
        userID: this.user.id,
        condition: bookCondition
      };
      this.$emit("saveToBookshelf", payload);
    }
  }
};
</script>

<style scoped>
.one-edge-shadow {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px #dffcf9,
    0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
}
</style>
