<template>
  <div id="app">
    <v-app id="inspire">
      <v-main>
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col class="text-center">
              <h1>TRANSACTION SUCCEEDED</h1>
              <p>
                If you have any questions, please email
                <a href="mailto:orders@example.com">orders@example.com</a>.
              </p>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {};
  },
  components: {},
  mounted() {
    this.verifySuccessfulPayment();
  },
  methods: {
    verifySuccessfulPayment() {
      if (this.$route.query && this.$route.query.session_id) {
        let sessionID = this.$route.query.session_id;
        this.$store
          .dispatch("completeSuccessfulPayment", sessionID)
          .then(() => {
            this.redirect();
            this.$toasted.show("Payment successful", {
              theme: "outline",
              position: "bottom-left",
              duration: 7000,
              type: "success",
              className: "toastedSuccess",
              icon: "mdi-check"
            });
          });
      }
    },
    redirect() {
      this.$router.push({ name: "wishlist" });
    }
  }
};
</script>
