<template>
  <div id="app">
    <v-app id="inspire">
      <v-main>
        <v-container>
          <v-row align="center" justify="center">
            <v-col class="text-center">
              <h1>STRIPE CHECKOUT</h1>
              <v-card flat class="mx-auto border-radius" max-width="344">
                <v-card-text>
                  <div>Account top up</div>
                  <div class="text--primary">$ 10</div>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="checkoutStripe" text color="primary"
                    >Checkout</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import { loadStripe } from "@stripe/stripe-js";
const stripeKey =
  process.env.VUE_APP_NODE_ENV == "production"
    ? process.env.VUE_APP_SWAPREADS_PROD_STRIPE_KEY
    : process.env.VUE_APP_SWAPREADS_STRIPE_KEY;
const stripePromise = loadStripe(stripeKey);

export default {
  name: "Home",
  data() {
    return {};
  },
  components: {},
  methods: {
    async checkoutStripe() {
      // Get Stripe.js instance
      const stripe = await stripePromise;

      // Call your backend to create the Checkout Session
      const response = await fetch(
        `${process.env.VUE_APP_SWAPREADS_BASE_URL}create-checkout-session/`,
        {
          method: "POST",
          headers: this.$store.getters.jwt
        }
      );

      const session = await response.json();

      // When the customer clicks on the button, redirect them to Checkout.
      const result = await stripe.redirectToCheckout({
        sessionId: session.id
      });

      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      }
    }
  }
};
</script>
