<template>
  <div id="app">
    <v-app id="inspire">
      <v-main>
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col class="text-center">
              <h1>TRANSACTION CANCELED</h1>
              <v-btn color="primary" text @click="goToHome()">Go Home</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
export default {
  name: "StripeCancelView",
  data() {
    return {};
  },
  components: {},
  mounted() {
    this.goToHome();
    this.$toasted.show("Transaction Cancelled", {
      theme: "outline",
      position: "bottom-left",
      duration: 7000,
      type: "error",
      icon: "mdi-alert-circle",
      className: "toastedError"
    });
  },
  methods: {
    goToHome() {
      this.$router.push({ name: "wishlist" });
    }
  }
};
</script>
