<template>
  <v-app>
    <v-row justify="center" no-gutters class="mt-10 mb-10">
      <v-col md="8">
        <div>
          <v-container :class="wishlistIsEmpty ? '' : 'mb-12'">
            <v-row
              align="end"
              no-gutters
              :style="wishlistIsEmpty ? 'height: 240px;' : 'height: 120px;'"
            >
              <v-col cols="12" class="text-center">
                <h2>Welcome to your Wishlist</h2>
              </v-col>
              <v-col v-if="wishlistIsEmpty" class="text-center">
                <p class="mb-5">Hmm... It's so empty here.</p>
                <v-btn
                  color="secondary"
                  class="elevation-3 btn-sm-font"
                  height="35px"
                  rounded
                  @click="handleWishlistTour"
                >
                  Show me how to add a book
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </div>

        <template v-if="recipientOpenRequests.length > 0">
          <span flat class="d-flex flex-row mb-6">
            <v-icon class="pr-2 pb-7" color="secondary">mdi-bell-ring</v-icon>
            <h3 class="pr-7">
              {{ recipientOpenRequests.length || 0 }} New match<span
                v-if="recipientOpenRequests.length > 1"
                >es</span
              >
            </h3>
            <p class="sub-title mt-2">
              Checkout now, before the 48 hours are up and your matches expire!
            </p>
          </span>

          <v-row>
            <v-col
              v-for="userrequest in recipientOpenRequests"
              :key="userrequest.id"
            >
              <recipient-request-card
                :request="userrequest"
                @declineRequest="handleDeclineRequest"
                @confirmCheckout="handleConfirmCheckout"
              ></recipient-request-card>
            </v-col>
          </v-row>
        </template>
      </v-col>
    </v-row>

    <v-row
      justify="center"
      no-gutters
      class="mt-10 pt-5 process-section"
      v-if="recipientInProgressRequests.length > 0"
    >
      <v-col md="8">
        <template>
          <v-row justify="space-between">
            <v-col class="mb-6" cols="auto">
              <span flat class="d-flex flex-row mt-12 mb-6">
                <v-icon class="pr-2 pb-3 mb-3" color="secondary"
                  >mdi-sync</v-icon
                >
                <h3 class="pr-7">In progress</h3>
                <p class="pb-3 pt-2 sub-title">
                  Check your current book requests status
                </p>
              </span>
            </v-col>
            <v-spacer></v-spacer>
            <v-col class="pt-12">
              <v-spacer></v-spacer>
              <v-btn
                @click="$router.push({ name: 'swapHistory' })"
                rounded
                color="white"
                min-width="240px"
                min-height="35px"
                class=" btn-sm-font btn-border "
                >Check your previous swaps here</v-btn
              >
            </v-col>
          </v-row>

          <v-data-table
            :headers="inProcessSwapsHeaders"
            :items="recipientInProgressRequests"
            :single-expand="true"
            :expanded.sync="inProcessSwapsExpanded"
            item-key="id"
            show-expand
            hide-default-footer
            :hide-default-header="true"
            class="elevation-4 pa-3"
          >
            <template v-slot:top> </template>
            <!-- show-expand -->
            <template v-slot:[`item.created`]="{ item }">
              <div style="" class="font-sm">
                {{ item.created | moment("DD MMM YYYY") }}
              </div>
            </template>

            <template v-slot:[`item.status`]="{ item }">
              <v-chip small style="pointer-events: none;">{{
                parameters.requestStatus[item.status.value].recipient
              }}</v-chip>
            </template>

            <template v-slot:[`item.book`]="{ item }">
              <!-- <div style="" class="font-sm">
                <span class="font-sm font-weight-medium">{{ item.book }}</span>
              </div> -->
              <span>
                {{ item.book }}
                <span
                  class="grey--text caption"
                  v-if="item.request_books.length > 1"
                  >+{{ item.request_books.length - 1 }} more</span
                >
              </span>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <div style="">
                <template
                  v-if="
                    item.status && item.status.value === requestStatusShipped
                  "
                >
                  <v-btn
                    class="primary btn-sm-font elevation-0"
                    rounded
                    min-width="70px"
                    min-height="35px"
                    @click="handleReceiveRequest(item)"
                    >Book Received</v-btn
                  >
                </template>
              </div>
            </template>

            <template v-slot:expanded-item="{ item }">
              <td class="pa-5" :colspan="100">
                <v-row>
                  <v-col md="6">
                    <div
                      v-for="(request_book, i) in item.request_books"
                      :key="i"
                    >
                      <p class="font-weight-bold">
                        {{ request_book.user_book.book.title }}
                      </p>
                      <div
                        v-if="
                          request_book.user_book.book.authors &&
                            request_book.user_book.book.authors.length > 0
                        "
                      >
                        <span md="auto">Author(s): </span>
                        <span md="auto" class="font-weight-bold">
                          <span
                            v-for="(author, index) in request_book.user_book
                              .book.authors"
                            :key="author.id"
                            >{{ author.name }}
                            <span
                              v-if="
                                request_book.user_book.book.authors[index + 1]
                              "
                              >,
                            </span>
                          </span>
                        </span>
                      </div>
                      <div v-if="request_book.user_book.condition">
                        <span md="auto">Book Condition:</span>
                        <span md="auto" class="font-weight-bold">
                          {{
                            parameters.bookCondition[
                              request_book.user_book.condition.value
                            ]
                          }}
                        </span>
                      </div>
                      <div v-if="request_book.user_book.book.publication_year">
                        <span md="auto">Publication:</span>
                        <span md="auto" class="font-weight-bold">
                          {{ request_book.user_book.book.publication_year }}
                        </span>
                      </div>
                      <v-divider class="mb-5"></v-divider>
                    </div>
                  </v-col>
                </v-row>
              </td>
            </template>
          </v-data-table>
        </template>
      </v-col>
    </v-row>

    <v-layout v-if="wishlist.length > 0" class="wishlist-section pt-10 pb-12">
      <v-row justify="center" no-gutters class="">
        <v-col md="8">
          <v-row justify="space-between">
            <v-col class="" cols="auto">
              <span flat class="d-flex flex-row mt-5 mb-6">
                <h3 class="pr-7">Your Wishlist</h3>
              </span>
            </v-col>
          </v-row>

          <v-row>
            <v-col v-for="userwish in wishlist" :key="userwish.id">
              <book-card
                :book="userwish.book"
                :isRemovable="!hasRequest(userwish.id)"
                @remove="removeFromWishlist(userwish)"
              >
              </book-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-layout>

    <v-main>
      <v-row justify="center">
        <v-dialog v-model="dialogConfirmation" max-width="600">
          <v-card class="pt-10 text-center pa-12">
            <h3>Your request has been sent to the book owner</h3>
            <v-card-text class="text-center mt-8">
              <p>
                We will notify you in the next 48 hours if your request was
                accepted.
              </p>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                class="btn-sm-font"
                rounded
                min-width="85px"
                @click="dialogConfirmation = false"
              >
                Ok
              </v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-row align="center">
        <v-dialog
          v-model="dialogConfirmReceive"
          max-width="558px"
          max-height="419px"
          class="pa-12"
        >
          <v-card class="pa-12">
            <v-card-text class="text-center pt-12">
              <h3>Have you received your book?</h3>
            </v-card-text>
            <v-card-text class="text-center pa-12">
              <p>
                Let us know if you've received your package, so we can move it
                to your swap history.
              </p>
            </v-card-text>

            <v-card-actions class="pb-5">
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                rounded
                min-width="232px"
                min-height="35px"
                class="btn-sm-font"
                @click="
                  dialogConfirmReceive = false;
                  receiveRequest();
                "
              >
                Yes, I've got it!
              </v-btn>

              <v-btn
                rounded
                text
                min-width="94.96px"
                min-height="35px"
                class=" btn-sm-font btn-border"
                @click="dialogConfirmReceive = false"
                >Not yet</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-main>
  </v-app>
</template>

<script>
import { eventBus } from "@/main";
import { mapGetters } from "vuex";
import {
  requestStatusOpen,
  requestStatusRecipientPaid,
  requestStatusShipped,
  requestrRecipientReceived,
  parameters
} from "@/utils/parameters.js";
import RecipientRequestCard from "@/requests/components/RecipientRequestCard";
import BookCard from "@/book/components/BookCard";
import userflow from "userflow.js";

export default {
  name: "WishlistView",
  components: {
    BookCard,
    RecipientRequestCard
  },
  mounted() {
    this.initialize();

    eventBus.$on("reloadWishlist", () => {
      this.initialize();
    });

    eventBus.$on("confirmCheckout", () => {
      this.handleConfirmCheckout();
    });
  },
  data() {
    return {
      parameters: parameters,
      requestStatusOpen: requestStatusOpen,
      requestStatusRecipientPaid: requestStatusRecipientPaid,
      requestStatusShipped: requestStatusShipped,
      requestrRecipientReceived: requestrRecipientReceived,
      dialogConfirmation: false,
      dialogConfirmReceive: false,
      selectedRequest: {},

      // in process table
      inProcessSwapsExpanded: [],
      inProcessSwapsHeaders: [
        {
          text: "Date",
          align: "end",
          sortable: false,
          value: "created"
        },
        { text: "Book", value: "book" },
        { text: "Status", value: "status" },
        { text: "Actions", value: "actions" },
        { text: "", value: "data-table-expand" }
      ]
    };
  },
  computed: {
    ...mapGetters(["wishlist", "requests", "user"]),
    recipientOpenRequests() {
      var recipientRequests = this.requests.filter(
        req => req.book_recipient.id === this.user.id
      );
      return recipientRequests.filter(
        req => req.status.value === this.requestStatusOpen
      );
    },
    recipientInProgressRequests() {
      var recipientRequests = this.requests.filter(
        req => req.book_recipient.id === this.user.id
      );
      return recipientRequests.filter(
        req =>
          req.status.value != this.requestStatusOpen &&
          req.status.value != this.requestrRecipientReceived
      );
    },
    wishlistIsEmpty() {
      return (
        this.recipientOpenRequests.length < 1 &&
        this.recipientInProgressRequests.length < 1 &&
        this.wishlist.length < 1
      );
    }
  },
  methods: {
    initialize() {
      this.$store.dispatch("getWishlist");
      setTimeout(() => {
        this.$store.dispatch("getRequests");
      }, 2000);
    },
    requestUserBook(request) {
      if (request.request_books) {
        return request.request_books[0];
      }
      return "";
    },
    handleWishlistTour() {
      userflow.start("8448137e-3718-4b40-878d-e5638834b136");
    },
    hasRequest(userwishID) {
      var hasRequest = false;
      this.requests.forEach(req => {
        var wish = req.request_books.find(el => el.user_wish.id == userwishID);
        if (wish) hasRequest = true;
      });
      return hasRequest;
    },
    removeFromWishlist(userwish) {
      var hasRequest = this.hasRequest(userwish.id);
      if (!hasRequest) this.$store.dispatch("removeFromWishlist", userwish);
    },
    handleDeclineRequest(request) {
      this.$store.dispatch("declineRequestByRecipient", request);
    },
    handleConfirmCheckout() {
      this.dialogConfirmation = true;
    },
    handleReceiveRequest(request) {
      this.selectedRequest = request;
      this.dialogConfirmReceive = true;
    },
    receiveRequest() {
      this.$store.dispatch("receiveRequest", this.selectedRequest);
    }
  }
};
</script>

<style scoped>
.v-input {
  font-size: 0.79rem;
}

.v-data-table > .v-data-table__wrapper > table {
  height: 70px !important;
}

.v-list-item__title {
  font-size: 0.8rem;
}

.sub-title {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  color: #444444;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  color: #444444;
}
.process-section {
  background: linear-gradient(
    90deg,
    rgba(235, 235, 235, 0.5) 11.39%,
    rgba(255, 194, 194, 0.5) 94.92%
  ) !important;
  padding-bottom: 70px;
}

.theme--light.v-application {
  background: radial-gradient(
    50.07% 53.25% at 50.07% 1.73%,
    rgba(255, 194, 194, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

.h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  text-align: center;
}

.wishlist-section {
  background: #fdfdfd !important;
}
</style>
