<template>
  <v-dialog v-model="dialog" :max-width="maxWidth || 590">
    <v-card class="pt-10 text-center border-radius">
      <v-card-title class="text-center">{{ title }}</v-card-title>

      <v-card-text>
        <p v-for="paragraph in body" :key="paragraph">
          {{ paragraph }}
        </p>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          v-for="action in actions"
          :key="action.name"
          :color="action.color || ''"
          text
          @click="$emit(`${action.event}`)"
        >
          {{ action.name }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AppConfirmationDialog",
  props: {
    title: {
      type: String,
      default: "100"
    },
    dialog: {
      type: Boolean,
      default: false
    },
    maxWidth: {
      type: Number,
      default: 590
    },
    body: {
      type: Array,
      default: function() {
        return ["paragraph 1", "paragraph 2", "paragraph 3"];
      }
    },
    actions: {
      type: Array,
      default: function() {
        return [
          { name: "action 1", color: "red", event: "action1Event" },
          { name: "action 2", color: "blue", event: "action2Event" },
          { name: "action e", color: "", event: "actioneEvent" }
        ];
      }
    }
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style></style>
