<template>
  <v-app>
    <app-nav-bar @logout="handleLogout" v-if="user" />
    <v-app class="mt-10">
      <router-view />
    </v-app>
    <app-footer v-if="user" />
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import AppNavBar from "./AppNavBar";
import AppFooter from "./AppFooter";
import userflow from "userflow.js";
export default {
  name: "AppContainer",
  components: { AppNavBar, AppFooter },
  computed: {
    ...mapGetters(["user"])
  },
  data() {
    return {};
  },
  mounted() {
    var userflowEnvVal =
      process.env.VUE_APP_NODE_ENV == "production"
        ? process.env.VUE_APP_SWAPREADS_PROD_USER_FLOW_KEY
        : process.env.VUE_APP_SWAPREADS_USER_FLOW_KEY;
    userflow.init(userflowEnvVal);

    if (this.user) {
      userflow.identify(this.user.external_id, {
        name: this.user.first_name || this.user.username,
        signed_up_at: this.user.created
      });

      this.$store.dispatch("getWishlist");
      this.$store.dispatch("getBookshelf");
    }
  },
  methods: {
    handleLogout() {
      this.$store.dispatch("logout");
      userflow.reset();
    }
  }
};
</script>

<style>
@media only screen and (min-width: 681px) {
  .hide-for-xs {
    display: block !important;
  }
  .show-for-xs {
    display: none !important;
  }
}

@media only screen and (max-width: 690px) {
  .hide-for-xs {
    display: none !important;
  }
  .show-for-xs {
    display: block !important;
  }
}
@media only screen and (max-width: 1270px) {
  .hide-for-sm {
    display: none !important;
  }
  .hide-for-lg {
    display: block !important;
  }
}
@media only screen and (min-width: 1270px) {
  .hide-for-lg {
    display: none !important;
  }
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 104.69%;
  /* identical to box height, or 38px */
  /* text-align: center; */
  color: #444444;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  text-align: center;
  color: #444444;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 104.69%;
  /* or 17px */

  color: #444444;
}

h6 {
  font-style: normal;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #444444;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #444444;
}

.font-14 {
  font-size: 14px;
  line-height: 16px;
}

.btn-sm-font {
  font-size: 0.6rem !important;
}

.btn-border {
  border: 1px solid #e3e3e3 !important;
  box-sizing: border-box !important;
  border-radius: 30px !important;
}

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 13px;
}

.theme--light.v-application {
  background: #f5f5f4 !important;
}

.one-edge-shadow {
  box-shadow: 0 8px 6px -6px #dffcf9 !important;
}

.v-dialog {
  border-radius: 20px !important;
}

.border-radius {
  border-radius: 20px !important;
}

.v-toolbar {
  border-radius: 20px !important;
}

.v-btn:hover {
  opacity: 0.6 !important;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #444444;
}
</style>
