<template>
  <v-card height="60">
    <v-footer absolute class="font-weight-medium">
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} — <strong>SwapReads</strong>
      </v-col>
    </v-footer>
  </v-card>
</template>

<script>
export default {
  name: "AppFooter",
  data() {
    return {};
  }
};
</script>

<style></style>
