<template>
  <div>
    <v-app-bar app color="white" flat height="80">
      <v-container class=" fill-height">
        <v-toolbar-title>
          <a class="routerLink" @click="goToHome()">
            <v-img
              :src="require('@/assets/SwapReads_logo_single.png')"
              max-height="24"
              max-width="153"
            ></v-img>
          </a>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-text-field
          max-width="460"
          class="mt-1 hide-for-sm"
          dense
          flat
          hide-details
          v-model="searchQuery"
          rounded
          light
          solo
          outlined
          append-icon="mdi-magnify"
          clear-icon="mdi-close"
          clearable
          label="search title, author or ISBN"
          @keydown="searchBooks"
          @click:append="searchBooks"
        ></v-text-field>

        <v-spacer class="hide-for-xs"></v-spacer>

        <template class="hide-for-sm">
          <v-btn rounded text @click="goToWishlist()">Wishlist</v-btn>
          <v-btn rounded text @click="goToBookshelf()">Bookshelf</v-btn>
        </template>

        <v-menu :close-on-content-click="false" :nudge-width="60" offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              rounded
              color="grey darken-2"
              text
              v-bind="attrs"
              v-on="on"
              class="hide-for-lg"
            >
              <v-icon class="show-for-xs">mdi-dots-vertical</v-icon>
              <v-icon class="hide-for-xs">mdi-magnify</v-icon>
            </v-btn>
          </template>

          <v-list class="pa-5">
            <v-list-item class="show-for-xs">
              <v-list-item-title class="text-center">
                <template>
                  <v-btn rounded text @click="goToWishlist()">Wishlist</v-btn>
                  <v-btn rounded text @click="goToBookshelf()">Bookshelf</v-btn>
                </template>
              </v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title
                ><v-text-field
                  max-width="460"
                  class="mt-1"
                  dense
                  flat
                  hide-details
                  v-model="searchQuery"
                  rounded
                  light
                  solo
                  outlined
                  append-icon="mdi-magnify"
                  clear-icon="mdi-close"
                  clearable
                  label="search title, author or ISBN"
                  @keydown="searchBooks"
                  @click:append="searchBooks"
                ></v-text-field
              ></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <template>
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-width="60"
            color="white"
            offset-y
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                rounded
                large
                text
                v-bind="attrs"
                v-on="on"
                @click="onMenuOpen"
                class="btn-sm-font btn-long one-edge-shadow"
              >
                <v-avatar size="30px" tile class="rounded-lg">
                  <img
                    v-if="user.avatar_url"
                    alt="Avatar"
                    :src="user.avatar_url"
                  />
                  <v-icon v-else>mdi-face</v-icon>
                </v-avatar>
                <span class="ml-2 hide-for-xs">{{
                  user.first_name + " " + user.last_name
                }}</span>
                <v-icon>mdi-chevron-down</v-icon>
              </v-btn>
            </template>

            <v-row justify="space-around" style="background-color: white;">
              <v-col cols="auto">
                <v-card max-width="240px" class="account-menu pl-4" flat>
                  <v-card-text class="mb-0 pb-0">
                    <v-row justify="center" no-gutters>
                      <v-col cols="auto" class="mr-2">
                        <v-avatar size="30px" tile class="rounded-lg">
                          <img
                            v-if="user.avatar_url"
                            alt="Avatar"
                            :src="user.avatar_url"
                          />
                          <v-icon v-else color="black">mdi-face</v-icon>
                        </v-avatar>
                      </v-col>
                      <v-col>
                        <span>{{
                          user.first_name + " " + user.last_name
                        }}</span>
                      </v-col>
                    </v-row>

                    <v-row class="mb-0 pb-0">
                      <v-col cols="12" class="mb-0 pb-0">
                        <span class="account-font">Account Balance: </span>
                        <span
                          v-if="user.account_balance"
                          class="font-weight-medium funds"
                          >${{
                            user.account_balance.toLocaleString("us-US", {
                              style: "currency",
                              currency: "USD"
                            })
                          }}</span
                        >
                        <span class="funds" v-else>$0.00</span>

                        <v-btn
                          @click="goToCheckout()"
                          class="mx-2 add-funds"
                          fab
                          dark
                          color="secondary"
                        >
                          <v-icon dark class="">
                            mdi-plus
                          </v-icon>
                        </v-btn>
                      </v-col>

                      <v-col cols="12" class="mb-0 pb-0">
                        <v-row class="mb-0 pb-0">
                          <v-col cols="auto" class="mb-0 pb-0">
                            <span class="account-font">Reward Points: </span>
                            <span class="font-weight-medium funds">{{
                              user.points || 0
                            }}</span>
                          </v-col>
                          <v-col class="mb-0 pb-0">
                            <v-tooltip right max-width="200px">
                              <template v-slot:activator="{ on, attrs }">
                                <v-icon
                                  color="primary"
                                  dark
                                  small
                                  v-bind="attrs"
                                  v-on="on"
                                >
                                  mdi-help-circle-outline
                                </v-icon>
                              </template>
                              <div>
                                <p>
                                  Accrue points for every book you send to
                                  others. For every 10 books you send, you get
                                  one book for free! 🎈
                                </p>
                              </div>
                            </v-tooltip>
                          </v-col>
                        </v-row>
                      </v-col>

                      <v-col class="mb-0 pb-0">
                        <div>
                          <v-switch
                            @click="isOnVacationModeSwitch($event)"
                            v-model="user.is_on_vacation_mode"
                            label="Vacation Mode"
                            class="ma-0 pa-0"
                          >
                            <template v-slot:label>
                              <p class="account-font mt-4">
                                Vacation Mode
                                <v-tooltip right max-width="200px" class="m">
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-icon
                                      color="primary"
                                      dark
                                      small
                                      v-bind="attrs"
                                      v-on="on"
                                    >
                                      mdi-help-circle-outline
                                    </v-icon>
                                  </template>
                                  <div>
                                    <p>
                                      Turn it on to temporarily stop getting new
                                      Book matches and requests. For Wishlists
                                      Books, we'll keep your current position in
                                      queue until you're back.
                                    </p>
                                    <p>
                                      💡 Don't forget to turn it off when you're
                                      ready to receive new matches and requests
                                      once again!
                                    </p>
                                  </div>
                                </v-tooltip>
                              </p>
                            </template>
                          </v-switch>
                        </div>
                      </v-col>
                    </v-row>
                  </v-card-text>

                  <v-card-actions class="mt-0 pt-0">
                    <v-row justify="center" class="mt-0 pt-0">
                      <v-col cols="12" class="mt-0 pt-0">
                        <v-btn
                          class="btn-sm-font menu-btn"
                          width="176px"
                          height="27px"
                          small
                          rounded
                          @click="goToCommunity()"
                          >Community</v-btn
                        >
                      </v-col>

                      <v-col cols="12">
                        <v-btn
                          class="btn-sm-font menu-btn"
                          width="176px"
                          height="27px"
                          small
                          rounded
                          @click="goToHistory()"
                          >Swap History</v-btn
                        >
                      </v-col>

                      <v-col cols="12">
                        <v-btn
                          small
                          rounded
                          text
                          width="176px"
                          height="27px"
                          class="btn-sm-font"
                          @click="
                            $emit('logout');
                            menu = false;
                          "
                          >Logout</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-menu>
        </template>
      </v-container>
    </v-app-bar>

    <v-row justify="center">
      <v-dialog v-model="dialogVactionMode" max-width="390">
        <v-card>
          <v-card-title class="headline">
            Active Matches
          </v-card-title>
          <v-card-text>
            <p>You have active matches to complete..</p>
            <p>Some may be incoming at the moment</p>
            <p>Please wait to complete them and then turn on vacation mode</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialogVactionMode = false">
              Ok
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import { eventBus } from "@/main";
import { mapGetters } from "vuex";
import { stripeCheckout } from "@/payment/services/checkout";
export default {
  name: "AppNavBar",
  computed: {
    ...mapGetters(["user", "communityURL"])
  },
  watch: {
    $route(to) {
      var queryViews = ["searchResult", "book", "home"];
      if (!queryViews.includes(to.name)) {
        this.searchQuery = "";
      }
    }
  },
  data() {
    return {
      stripeCheckout: stripeCheckout,
      fav: true,
      menu: false,
      message: false,
      hints: true,
      searchQuery: "",
      dialogVactionMode: false
    };
  },
  methods: {
    isOnVacationModeSwitch() {
      if (
        this.user.has_active_request &&
        !this.user.is_on_vacation_mode == false
      ) {
        // this.user.is_on_vacation_mode = !this.user.is_on_vacation_mode;
        this.dialogVactionMode = true;
      } else {
        this.$store.dispatch("updateUser", this.user);
      }
    },
    searchBooks(event) {
      if (
        this.searchQuery?.length > 0 &&
        (event.key === "Enter" || event instanceof MouseEvent)
      ) {
        if (this.$route.name !== "home") {
          this.$router.push({
            name: "home",
            query: { search: this.searchQuery }
          });
        } else {
          this.$store.dispatch("getBooks", this.searchQuery);
        }
      }
    },
    goToCommunity() {
      this.menu = false;
      window.open(this.communityURL, "_blank");
    },
    login() {
      this.$store.dispatch("loginWithSSOProvider").catch(error => {
        if (!error.response) {
          this.$toasted.show("Network Error", {
            theme: "outline",
            position: "bottom-left",
            duration: 5000,
            className: "toastedError",
            type: "error",
            icon: "mdi-wifi-strength-alert-outline",
            action: {
              text: "Close",
              onClick: (e, toastObject) => {
                toastObject.goAway(0);
              }
            }
          });
        }
      });
    },
    goToHistory() {
      this.menu = false;
      if (this.$route.name !== "swapHistory") {
        this.$router.push({ name: "swapHistory" });
        this.$router.push({ name: "swapHistory" }).catch(() => {
          eventBus.$emit("reloadSwapHistory");
        });
      }
    },
    goToCheckout() {
      this.menu = false;
      this.stripeCheckout();
    },
    onMenuOpen() {
      this.$store.dispatch("getAuthenticatedUser").then(response => {
        if (response?.data) this.$store.dispatch("setUser", response.data);
      });
    },
    goToWishlist() {
      this.$router.push("/wishlist").catch(() => {
        eventBus.$emit("reloadWishlist");
      });
    },
    goToBookshelf() {
      this.$router.push("/bookshelf").catch(() => {
        eventBus.$emit("reloadBookshelf");
      });
    },
    goToHome() {
      this.$router.push("/").catch(() => {
        eventBus.$emit("reloadHome");
      });
    }
  }
};
</script>

<style scoped>
.routerLink {
  text-decoration: none !important;
  color: inherit !important;
}

.one-edge-shadow {
  box-shadow: 0 8px 6px -6px #dffcf9, #dffcf9 !important;
}

.btn-long {
  min-width: 15px !important;
}

.v-btn.v-size--default {
  font-size: 12px;
}

.v-toolbar {
  border-radius: 0px !important;
}

.account-menu {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
}

.name {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #444444;
}

.account-font {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #7e7e7e;
}

.funds {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;

  color: #444444;
}

.v-btn--fab.v-size--default {
  width: 22px;
  height: 22px;
}

.v-btn--icon.v-size--default .v-icon,
.v-btn--fab.v-size--default .v-icon {
  height: 24px;
  font-size: 14px;
  width: 24px;
}

.menu-btn {
  background: #ffffff;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
</style>
