<template>
  <main>
    <v-container fluid class="ma-0 pa-0">
      <div>
        <v-btn
          text
          color="primary"
          v-if="!showAddressForm"
          @click="displayAddressForm()"
          >Add new address</v-btn
        >
      </div>

      <div v-if="showAddressForm">
        <v-btn
          v-if="showAddressForm && userAddresses && userAddresses.length > 0"
          text
          class="ml-5"
          color="primary"
          @click="
            showAddressForm = false;
            validateAddressSelection();
          "
        >
          <v-icon>mdi-chevron-left</v-icon>Existing addresses
        </v-btn>
        <h3 class="pl-10 pt-5">Your address information</h3>
        <p class="pl-10">
          Please add your address information to proceed to the checkout
        </p>
        <div class="pl-10 pr-10 pt-5">
          <address-form
            :address="address"
            @saveAddress="handleSaveAddress"
          ></address-form>
        </div>
      </div>

      <div v-else>
        <v-radio-group
          @change="changeSelectedAddress"
          v-model="addressRadios"
          :mandatory="true"
        >
          <v-radio
            :value="address.id"
            v-for="address in userAddresses"
            :key="address.id"
            color="primary"
          >
            <template v-slot:label>
              <div>
                <address-card :address="address">
                  <template v-slot:side-action>
                    <v-container class="fill-height" fluid>
                      <v-row align="center" justify="center">
                        <v-btn icon @click="editUserAddress(address)">
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                      </v-row>
                    </v-container>
                  </template>
                </address-card>
              </div>
            </template>
          </v-radio>
        </v-radio-group>
      </div>
    </v-container>
  </main>
</template>

<script>
import AddressForm from "./AddressForm";
import { usStates } from "@/utils/usStates.js";
import { countries } from "@/utils/countryListAllIsoData.js";
import { mapGetters } from "vuex";
import AddressCard from "./AddressCard";
export default {
  name: "AddressChoice",
  props: ["addresses"],
  components: { AddressCard, AddressForm },
  computed: {
    ...mapGetters(["userAddresses"])
  },
  mounted() {
    this.selectedAddress = this.getSelectedAddress();
  },
  data() {
    return {
      usStates: usStates,
      countries: countries,
      addressRadios: "",
      selectedAddress: null,
      showSelectedAddress: true,
      showAddressForm: false,
      address: {
        first_name: "",
        last_name: "",
        city: "",
        address_line: "",
        // street: "",
        // house: "",
        state: "",
        zip_code: "",
        country: ""
      }
    };
  },
  methods: {
    selectAddress(selectedAddress) {
      /*
      Emits an event to the parent to inform about the new selected address
      */
      this.$emit("selectAddress", selectedAddress);
    },

    invalidateAddressSelection() {
      /*
      Emits an event to the parent to invalidateAddressSelection so user cannot got to next
      */
      this.$emit("invalidateAddressSelection");
    },

    validateAddressSelection() {
      /*
      Emits an event to the parent to invalidateAddressSelection so user can got to next
      */
      this.$emit("validateAddressSelection");
    },

    getSelectedAddress() {
      /*
      Called on init of the component to get the default address to be selected
      if no default is found it shows the option to select on or add new address
      then it calls selectAddress method to inform the parent component
      */
      var address = null;
      if (this.selectedAddress == null) {
        var defaultAddress = this.userAddresses?.find(
          add => add.is_default == true
        );
        address = defaultAddress ? defaultAddress : null;
        this.showSelectedAddress = address ? true : false;
      }
      this.showAddressForm = this.userAddresses?.length <= 0;
      this.selectAddress(address);
      return address;
    },

    changeAddressSelection() {
      /*
      Called when the user wants to change the currently selected address (default)
      it shows the radio group and option to add new address
      */
      this.showSelectedAddress = false;
      this.addressRadios = this.selectedAddress.id;
    },

    changeSelectedAddress(payload) {
      /*
      Called when a different address is selected from the radio group options
      then it shows just the address selected and calls selectAddress method to inform the parent component
      */
      this.showSelectedAddress = true;
      this.selectedAddress = this.userAddresses?.find(add => add.id == payload);
      this.selectAddress(this.selectedAddress);
    },

    displayAddressForm() {
      /*
      Called when a user wants to enter a new address
      */
      this.invalidateAddressSelection();
      this.showAddressForm = true;
    },
    editUserAddress(addressToEdit) {
      /*
      Called when the user wants to edit an address
      */
      this.address = addressToEdit;
      this.showAddressForm = true;
      this.invalidateAddressSelection();
    },
    handleSaveAddress(address) {
      /*
      Called when the user saves an address form
      */
      if (address.id) {
        this.handleEditUserAddress(address);
      } else {
        this.handleCreateUserAddress(address);
      }
    },
    handleCreateUserAddress(newAddress) {
      /*
      Called when the user saves a new address form data
      */
      this.$store.dispatch("addNewUserAddresses", newAddress).then(response => {
        var createdAddress = response.data;
        this.$store.dispatch("addToUserAddresses", createdAddress);
        this.selectedAddress = createdAddress;
        this.addressRadios = this.selectedAddress.id;
        this.selectAddress(createdAddress);
        this.showAddressForm = false;
        this.address = {
          first_name: "",
          last_name: "",
          city: "",
          // street: "",
          // house: "",
          address_line: "",
          state: "",
          zip_code: "",
          country: ""
        };
      });
    },
    handleEditUserAddress(editedAddress) {
      /*
      Called when the user saves a new address form data
      */
      this.$store.dispatch("editNewUserAddresses", editedAddress).then(() => {
        this.selectAddress(editedAddress);
        this.showAddressForm = false;
        this.address = {
          first_name: "",
          last_name: "",
          city: "",
          // street: "",
          // house: "",
          address_line: "",
          state: "",
          zip_code: "",
          country: ""
        };
      });
    }
  }
};
</script>

<style></style>
