<template>
  <v-card class="border-radius d-inline-block mr-0 pr-0">
    <v-container>
      <v-row justify="space-around">
        <v-col cols="auto">
          <v-icon>mdi-map-marker</v-icon>
        </v-col>

        <v-col cols="auto" v-if="address">
          <div class="subtitle-2 text--primary">
            {{ address.first_name }} {{ address.last_name }}
          </div>
          <!-- <div class="text--secondary">
            {{ address.street }} {{ address.house }},
          </div> -->
          <div class="text--secondary">{{ address.address_line }},</div>
          <div class="text--secondary">{{ address.city }},</div>
          <div class="text--secondary text-capitalize">
            {{ getcollectionText(address.state, usStates).toLowerCase() }},
          </div>
          <div class="text--secondary">{{ address.zip_code }},</div>
          <div class="text--secondary">
            {{ getcollectionText(address.country, countries) }}
          </div>
        </v-col>

        <v-col cols="auto">
          <slot name="side-action"></slot>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import { usStates } from "@/utils/usStates.js";
import { countries } from "@/utils/countryListAllIsoData.js";
import { mapGetters } from "vuex";
export default {
  name: "AddressCard",
  props: ["address"],
  computed: { ...mapGetters(["user"]) },
  data() {
    return {
      usStates: usStates,
      countries: countries
    };
  },
  methods: {
    getcollectionText(value, collection) {
      var state = collection.find(e => e.value === value);
      if (state) {
        return state.text;
      } else {
        return value;
      }
    }
  }
};
</script>

<style></style>
