<template>
  <v-form ref="form" v-model="valid">
    <v-row>
      <v-col class="mt-0 pt-0 mb-0 pb-0" lg="6" cols="12">
        <v-text-field
          v-model="address.first_name"
          :rules="nameRules"
          label="First Name"
          required
          dense
          outlined
          class="ma-0 pa-0"
        ></v-text-field>
      </v-col>
      <v-col class="mt-0 pt-0 mb-0 pb-0" lg="6" cols="12">
        <v-text-field
          v-model="address.last_name"
          :rules="nameRules"
          label="Last Name"
          required
          dense
          outlined
          class="ma-0 pa-0"
        ></v-text-field>
      </v-col>
      <v-col sm="12" md="6">
        <!-- <v-text-field
          class="ma-0 pa-0"
          v-model="address.house"
          :rules="houseRules"
          label="House Number"
          required
          dense
          outlined
        ></v-text-field>

        <v-text-field
          class="ma-0 pa-0"
          v-model="address.street"
          :rules="streetRules"
          label="Street"
          required
          dense
          outlined
        ></v-text-field> -->

        <v-text-field
          class="ma-0 pa-0"
          v-model="address.address_line"
          :rules="address_lineRules"
          label="Address"
          required
          dense
          outlined
        ></v-text-field>

        <v-text-field
          v-model="address.city"
          :rules="cityRules"
          label="City"
          required
          dense
          outlined
        ></v-text-field>
      </v-col>
      <v-col sm="12" md="6">
        <v-text-field
          v-model="address.zip_code"
          :rules="zip_codeRules"
          label="Zip Code"
          required
          dense
          outlined
        ></v-text-field>

        <v-select
          v-model="address.state"
          :items="usStates"
          :rules="[v => !!v || 'State is required']"
          label="State"
          required
          dense
          outlined
        ></v-select>

        <div class="text-right">
          <v-btn
            :disabled="!valid"
            color="primary"
            class="mr-4 btn-sm-font"
            min-width="75px"
            rounded
            @click="saveAddress"
          >
            Save
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <!-- <v-row class="mb-0 pb-0">
      <v-col align="right" class="mt-0 mb-0 pb-0 pt-0">
        <v-btn
          :disabled="!valid"
          color="primary"
          text
          class="mr-4"
          @click="saveAddress"
        >
          Save
        </v-btn>
      </v-col>
    </v-row> -->
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";
import { usStates } from "@/utils/usStates.js";
import { countries } from "@/utils/countryListAllIsoData.js";
export default {
  name: "AddressForm",
  props: ["address"],
  computed: {
    ...mapGetters(["user"])
  },
  mounted() {
    if (!this.address?.first_name) {
      this.address.first_name = this.user.first_name;
    }
    if (!this.address?.last_name) {
      this.address.last_name = this.user.last_name;
    }
  },
  data() {
    return {
      valid: false,
      usStates: usStates,
      countries: countries,
      first_name: "",
      last_name: "",
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 10) || "Name must be less than 10 characters"
      ],
      // house: "",
      // houseRules: [
      //   v => !!v || "House Number is required",
      //   v =>
      //     (v && v.length <= 10) ||
      //     "House Number must be less than 10 characters"
      // ],
      // street: "",
      // streetRules: [
      //   v => !!v || "Street is required",
      //   v => (v && v.length <= 100) || "Street must be less than 100 characters"
      // ],
      address_line: "",
      address_lineRules: [
        v => !!v || "Address is required",
        v =>
          (v && v.length <= 220) || "Address must be less than 220 characters"
      ],
      city: "",
      cityRules: [
        v => !!v || "City is required",
        v => (v && v.length <= 100) || "City must be less than 100 characters"
      ],
      zip_code: "",
      zip_codeRules: [
        v => !!v || "Zip code is required",
        v => /(^\d{5}$)|(^\d{5}-\d{4}$)/.test(v) || "Zip code must be valid"
      ],
      select: null,
      items: ["Item 1", "Item 2", "Item 3", "Item 4"],
      checkbox: false,
      lazy: false
    };
  },
  methods: {
    saveAddress() {
      this.address.country = "US";
      this.$emit("saveAddress", this.address);
    }
  }
};
</script>

<style></style>
