<template>
  <v-app>
    <app-container />
  </v-app>
</template>

<script>
import AppContainer from "./components/AppContainer";
export default {
  name: "App",

  components: {
    AppContainer
  },

  data() {
    return {};
  }
};
</script>

<style>
#app {
  font-family: "Montserrat" !important;
}

/* .v-application {
  font-family: 'Montserrat' !important;
} */

.theme--light.v-application {
  background: white !important;
}

.toastedError {
  color: #fc7a7a !important;
  border-color: #fc7a7a !important;
}

.toastedSuccess {
  color: #22dbcd !important;
  border-color: #22dbcd !important;
}

.toasted {
  font-family: "Montserrat" !important;
  font-size: 12px !important;
  line-height: 14px !important;
  text-align: center !important;
}
</style>
