<template>
  <v-app>
    <v-row justify="center" no-gutters class="mt-10 mb-10">
      <v-col md="8">
        <div>
          <v-container :class="bookshelfIsEmpty ? '' : 'mb-12'">
            <v-row
              align="end"
              no-gutters
              :style="bookshelfIsEmpty ? 'height: 240px;' : 'height: 120px;'"
            >
              <v-col cols="12" class="text-center">
                <h2>Welcome to your Bookshelf</h2>
              </v-col>
              <v-col v-if="bookshelfIsEmpty" class="text-center">
                <p class="mb-5">Hmm... It's so empty here.</p>
                <v-btn
                  color="primary"
                  class="elevation-3 btn-sm-font"
                  height="35px"
                  rounded
                  @click="handleBookshelfTour"
                >
                  Show me how to add a book
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </div>

        <template v-if="senderNewRequests.length > 0">
          <span flat class="d-flex flex-row mb-6">
            <v-icon class="pr-2 pb-3" color="primary">mdi-bell-ring</v-icon>
            <h3 class="pr-10">
              {{ senderNewRequests.length || 0 }}
            </h3>
            <h3 class="pr-7">New Requests</h3>
            <p class="pt-2 sub-title">
              Accept the requests within 48 hours!
            </p>
          </span>

          <v-row>
            <v-col
              v-for="userrequest in senderNewRequests"
              :key="userrequest.id"
            >
              <sender-request-card
                :request="userrequest"
                @declineRequest="handleDeclineRequest"
                @acceptRequest="handleAcceptRequest"
              ></sender-request-card>
            </v-col>
          </v-row>
        </template>
      </v-col>
    </v-row>

    <v-row
      justify="center"
      no-gutters
      class="mt-10 pt-12 process-section pb-12"
      v-if="senderInProgressRequests.length > 0"
    >
      <v-col md="12">
        <template>
          <v-row justify="center" no-gutters>
            <v-col md="8">
              <v-row justify="space-between">
                <v-col class="mb-6" cols="auto">
                  <span flat class="d-flex flex-row mt-12 mb-6">
                    <v-icon class="pr-2 pb-3" color="primary">mdi-sync</v-icon>
                    <h3 class="pr-10">
                      {{ senderInProgressRequests.length || 0 }}
                    </h3>
                    <h3 class="pr-7">In progress</h3>
                  </span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="pt-12">
                  <v-spacer></v-spacer>
                  <v-btn
                    @click="$router.push({ name: 'swapHistory' })"
                    rounded
                    color="white"
                    min-width="240px"
                    min-height="35px"
                    class=" btn-sm-font btn-border "
                    >Check your previous swaps here</v-btn
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <v-row justify="center" no-gutters>
            <v-col md="10" sm="11">
              <v-data-table
                :headers="inProcessSwapsHeaders"
                :items="senderInProgressRequests"
                :single-expand="true"
                :expanded.sync="inProcessSwapsExpanded"
                item-key="created"
                show-expand
                hide-default-footer
                :hide-default-header="true"
                class="elevation-4 pa-3"
              >
                <!-- <template v-slot:top>
                  <v-progress-linear
                    indeterminate
                    color="primary"
                    v-if="
                      selectedRequest &&
                        selectedRequest.tracking_number == 'generating'
                    "
                  ></v-progress-linear>
                </template> -->
                <!-- show-expand -->
                <template v-slot:[`item.created`]="{ item }">
                  <div style="width: 100px" class="font-sm">
                    {{ item.created | moment("DD MMM YYYY") }}
                  </div>
                </template>

                <template v-slot:[`item.status`]="{ item }">
                  <v-chip small style=" pointer-events: none;">{{
                    parameters.requestStatus[item.status.value].sender
                  }}</v-chip>
                </template>

                <template v-slot:[`item.book`]="{ item }">
                  <span>
                    {{ item.book }}
                    <span
                      class="grey--text caption"
                      v-if="item.request_books.length > 1"
                      >+{{ item.request_books.length - 1 }} more</span
                    >
                  </span>
                </template>

                <template v-slot:[`item.actions`]="{ item }">
                  <div style="width: 300px">
                    <template v-if="isOpen(item)">
                      <v-btn
                        class="ml-2 mb-5 primary btn-sm-font"
                        rounded
                        @click="handleAcceptRequest(item)"
                        min-width="184.35px"
                        min-height="35px"
                      >
                        Accept
                      </v-btn>

                      <v-btn
                        @click="handleDeclineRequest(item)"
                        class=" btn-sm-font ml-2 mb-5 btn-border"
                        btn-border
                        rounded
                        min-width="85px"
                        min-height="35px"
                      >
                        Decline
                      </v-btn>
                    </template>

                    <template v-if="inProgress(item)">
                      <!-- <template v-if="!item.shipping_label_url">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              v-bind="attrs"
                              v-on="on"
                              @click.stop="
                                selectedRequest = item;
                                dialogDeliveryAddress = true;
                              "
                              class="mr-2 btn-border"
                              icon
                            >
                              <v-icon>mdi-home-map-marker</v-icon>
                            </v-btn>
                          </template>
                          <span>Show delivery address</span>
                        </v-tooltip>
                      </template> -->

                      <v-btn
                        class="btn-sm-font elevation-0 btn-border mr-2"
                        v-if="item.shipping_label_url"
                        max-height="35px"
                        max-width="209.25px"
                        @click="handleShipRequest(item)"
                        rounded
                        >Mark as Shipped</v-btn
                      >

                      <v-btn
                        @click="handleGenerateShippingLabel(item)"
                        class="btn-sm-font elevation-0"
                        max-height="35px"
                        color="primary"
                        :disabled="item.tracking_number == 'generating'"
                        v-if="!item.shipping_label_url"
                        rounded
                        >Generate Label</v-btn
                      >

                      <v-btn
                        @click="handleGenerateShippingQR(item)"
                        class="btn-sm-font elevation-0"
                        max-height="35px"
                        color="primary"
                        :disabled="item.tracking_number == 'generating'"
                        v-if="!item.shipping_label_url"
                        rounded
                        >Generate QR Code</v-btn
                      >

                      <a :href="item.shipping_label_url" v-else target="_blank">
                        <v-btn
                          class="btn-sm-font elevation-0"
                          max-height="35px"
                          rounded
                          color="primary"
                        >
                          {{
                            item.shipping_label_type == "QR"
                              ? "Show the QR Code"
                              : "Print Label"
                          }}
                        </v-btn>
                      </a>
                    </template>
                  </div>
                </template>

                <template v-slot:expanded-item="{ item }">
                  <td class="pa-5" :colspan="100">
                    <v-row>
                      <v-col md="6">
                        <div
                          v-for="(request_book, i) in item.request_books"
                          :key="i"
                        >
                          <p class="font-weight-bold">
                            {{ request_book.user_book.book.title }}
                          </p>
                          <div
                            v-if="
                              request_book.user_book.book.authors &&
                                request_book.user_book.book.authors.length > 0
                            "
                          >
                            <span md="auto">Author(s): </span>
                            <span md="auto" class="font-weight-bold">
                              <span
                                v-for="(author, index) in request_book.user_book
                                  .book.authors"
                                :key="author.id"
                                >{{ author.name }}
                                <span
                                  v-if="
                                    request_book.user_book.book.authors[
                                      index + 1
                                    ]
                                  "
                                  >,
                                </span>
                              </span>
                            </span>
                          </div>
                          <div v-if="request_book.user_book.condition">
                            <span md="auto">Book Condition:</span>
                            <span md="auto" class="font-weight-bold">
                              {{
                                parameters.bookCondition[
                                  request_book.user_book.condition.value
                                ]
                              }}
                            </span>
                          </div>
                          <div
                            v-if="request_book.user_book.book.publication_year"
                          >
                            <span md="auto">Publication:</span>
                            <span md="auto" class="font-weight-bold">
                              {{ request_book.user_book.book.publication_year }}
                            </span>
                          </div>
                          <v-divider class="mb-5"></v-divider>
                        </div>
                      </v-col>
                    </v-row>
                  </td>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </template>
      </v-col>
    </v-row>

    <v-layout v-if="bookshelf.length > 0" class="bookshelf-section pt-10 pb-10">
      <v-row justify="center" no-gutters class="">
        <v-col md="8">
          <v-row justify="space-between">
            <v-col class="mb-6" cols="auto">
              <span flat class="d-flex flex-row mt-8 mb-6">
                <h3 class="pr-7">Your Bookshelf</h3>
              </span>
            </v-col>
            <v-spacer></v-spacer>
            <v-col class="pt-5">
              <v-spacer></v-spacer>
              <v-card
                class="mx-auto offer-color"
                width="304"
                height="62"
                flat
                :color="'#f8f8f8'"
              >
                <v-card-text class="text-center">
                  <p class="font-weight-bold" v-if="user.points < 10">
                    Send
                    <span
                      class="pl-1 pr-1"
                      style="color: #22dbcd; font-size: 22px;"
                      >{{ 10 - user.points }}</span
                    >
                    <span v-if="user.points > 0">more books</span>
                    <span v-else>book</span> to get a free book
                  </p>

                  <p class="font-weight-bold" v-if="user.points >= 10">
                    Send
                    <span
                      class="pl-1 pr-1"
                      style="color: #22dbcd; font-size: 22px;"
                      >{{ 10 - (user.points % 10) }}</span
                    >
                    <span v-if="user.points > 0">more books</span>
                    <span v-else>book</span> to get a free book
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <v-row>
            <v-col v-for="userbook in bookshelf" :key="userbook.id">
              <book-card
                :book="userbook.book"
                @remove="removeFromBookshelf(userbook)"
                :isRemovable="true"
              >
                <template v-slot:details>
                  <div class="font-weight-light">
                    <v-select
                      class="ma-0 pa-0"
                      :items="userBookConditionsModified"
                      v-model="userbook.condition"
                      @change="saveToBookshelf($event, userbook)"
                    >
                      <template v-slot:selection="{ item }">
                        <span>{{ item.text }}</span>
                      </template>
                    </v-select>
                  </div>
                </template>
              </book-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-layout>

    <v-row justify="center">
      <v-dialog v-model="declineConfirmationDialog" max-width="490">
        <v-card class="pa-12">
          <h3 class="mb-5">Decline</h3>

          <v-card-text class="text-center">
            <p>Are you sure you want to decline this request?</p>
            <p>This action cannot be undone!</p>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              class=" btn-sm-font"
              rounded
              min-width="100px"
              min-height="35px"
              color="secondary"
              @click="declineRequest"
            >
              Decline
            </v-btn>

            <v-btn
              rounded
              min-width="100px"
              min-height="35px"
              class=" btn-sm-font btn-border"
              text
              @click="declineConfirmationDialog = false"
            >
              Cancel
            </v-btn>

            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-row justify="center">
      <v-dialog v-model="acceptConfirmationDialog" max-width="590">
        <v-card class="text--primary border-radius">
          <v-card-text class="pa-10 text-center">
            <p class="headline">Request accepted!</p>
            <p>The next step is to package and mail the book(s).</p>
            <p>
              Would you like to generate the
              <span class="font-weight-medium">printable Shipping Label</span>
              or <span class="font-weight-medium">QR code</span> now? (Don't
              worry, it has already been paid for)
            </p>
          </v-card-text>

          <v-card-actions class=" pb-12">
            <v-spacer></v-spacer>

            <v-btn
              color="primary"
              class="btn-sm-font elevation-0"
              max-height="35px"
              rounded
              @click="generateShippingLabel"
            >
              Printable Label
            </v-btn>

            <v-btn
              color="primary"
              class="btn-sm-font elevation-0"
              max-height="35px"
              rounded
              @click="generateShippingQR"
            >
              QR Code
            </v-btn>

            <v-btn
              class="btn-sm-font elevation-0"
              max-height="35px"
              rounded
              @click="acceptConfirmationDialog = false"
            >
              Decide later
            </v-btn>

            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-row justify="center">
      <v-dialog v-model="shippingConfirmationDialog" max-width="590">
        <v-card v-if="!isShippedSelected" class="text--primary border-radius">
          <v-card-text class="pa-12 text-center">
            <h3 class="pa-10">Have you sent the book?</h3>
            <p>If yes, we will move it to your swap history.</p>
          </v-card-text>

          <v-card-actions class="pb-12">
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              rounded
              class="btn-sm-font elevation-0"
              max-height="35px"
              max-width="352px"
              @click="shipRequest"
            >
              Yes, I have shipped it
            </v-btn>
            <!-- v-if="selectedRequest.tracking_number" -->
            <!-- 
            <v-btn
              color="primary"
              rounded
              class="btn-sm-font elevation-0"
              max-height="35px"
              max-width="352px"
              @click="generateShippingLabel"
              v-else
            >
              Yes, I have shipped it
            </v-btn> -->

            <v-btn
              class="btn-sm-font elevation-0 mr-2"
              max-height="35px"
              max-width="94.96px"
              text
              @click="shippingConfirmationDialog = false"
            >
              Not yet
            </v-btn>

            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
        <!-- <v-card v-else class="text--primary border-radius">
          <v-form
            ref="shippingform"
            v-model="shippingformValid"
            :lazy-validation="false"
          >
            <v-card-text class="pa-10 text-center">
              <p class="headline">Do you have a tracking number?</p>
              <p>Enter it here so we can track the package.</p>

              <v-text-field
                outlined
                v-model="trackingNumber"
                :rules="trackingNumberRules"
                label="Carrier and Number, e.g. 'USPS 9449011899560814727147'"
                required
              ></v-text-field>
            </v-card-text>
          </v-form>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              color="primary"
              text
              :disabled="!shippingformValid"
              @click="
                shipRequest();
                isShippedSelected = false;
                shippingConfirmationDialog = false;
              "
            >
              Save
            </v-btn>

            <v-btn
              text
              @click="
                shipRequest(false);
                isShippedSelected = false;
              "
            >
              I don't have one
            </v-btn>

            <v-btn
              text
              @click="
                shippingConfirmationDialog = false;
                isShippedSelected = false;
              "
            >
              Cancel
            </v-btn>

            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card> -->
      </v-dialog>
    </v-row>

    <v-row justify="center">
      <v-dialog v-model="userAddressDialog" max-width="590">
        <v-card class="text--primary border-radius">
          <v-toolbar flat light color="">
            <v-btn
              color="grey darken-3"
              icon
              @click="userAddressDialog = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-toolbar-title
              ><h3>Enter Your Return Address</h3></v-toolbar-title
            >
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text class="pa-10 text-center">
            <address-form
              :address="address"
              @saveAddress="handleSaveAddress"
            ></address-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>

    <v-row>
      <!-- <v-dialog v-model="dialogDeliveryAddress" max-width="290">
        <v-card>
          <v-card-title class="headline">
            Recipient Address
          </v-card-title>

          <v-card-text
            v-if="selectedRequest && selectedRequest.book_recipient_address"
          >
            <p class="mb-0">
              {{ selectedRequest.book_recipient_address.first_name }}
              {{ selectedRequest.book_recipient_address.last_name }},
            </p>
            <p class="mb-0">
              {{ selectedRequest.book_recipient_address.house }},
              {{ selectedRequest.book_recipient_address.street }},
            </p>
            <p class="mb-0">
              {{ selectedRequest.book_recipient_address.address_line }},
            </p>
            <p class="mb-0" v-if="selectedRequest.book_recipient_address.state">
              {{ selectedRequest.book_recipient_address.city }},
              {{
                getcollectionText(
                  selectedRequest.book_recipient_address.state,
                  usStates
                )
              }},
            </p>
            <p class="mb-0">
              {{ selectedRequest.book_recipient_address.zip_code }},
            </p>
            <p class="mb-0">
              {{
                getcollectionText(
                  selectedRequest.book_recipient_address.country,
                  countries
                )
              }}.
            </p>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="primary" text @click="dialogDeliveryAddress = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> -->
    </v-row>
  </v-app>
</template>

<script>
import userflow from "userflow.js";
import { eventBus } from "@/main";
import { usStates } from "@/utils/usStates.js";
import { countries } from "@/utils/countryListAllIsoData.js";
import AddressForm from "@/requests/components/address/AddressForm";
import { mapGetters } from "vuex";
import BookCard from "@/book/components/BookCard";
import {
  requestStatusOpen,
  requestStatusRecipientPaid,
  requestStatusSenderAccepted,
  requestStatusShippingLabelPrinted,
  requestStatusShipped,
  parameters
} from "@/utils/parameters.js";
import SenderRequestCard from "@/requests/components/SenderRequestCard";

export default {
  name: "BookshelfView",
  components: {
    BookCard,
    SenderRequestCard,
    AddressForm
  },
  mounted() {
    this.initialize();

    eventBus.$on("reloadBookshelf", () => {
      this.initialize();
    });
  },
  data() {
    return {
      usStates: usStates,
      countries: countries,
      requestStatusOpen: requestStatusOpen,
      requestStatusRecipientPaid: requestStatusRecipientPaid,
      requestStatusSenderAccepted: requestStatusSenderAccepted,
      requestStatusShippingLabelPrinted: requestStatusShippingLabelPrinted,
      requestStatusShipped: requestStatusShipped,
      parameters: parameters,
      selectedRequest: {},
      // dialogs
      declineConfirmationDialog: false,
      acceptConfirmationDialog: false,
      shippingConfirmationDialog: false,
      userAddressDialog: false,
      // form
      shippingformValid: true,
      trackingNumber: "",
      trackingNumberRules: [
        v => !!v || "Tracking number is required",
        v =>
          (v && v.length >= 5) ||
          "Tracking number must be greater than 5 characters"
      ],
      isShippedSelected: false,
      address: {
        city: "",
        // street: "",
        // house: "",
        address_line: "",
        state: "",
        zip_code: "",
        country: ""
      },

      dialogDeliveryAddress: false,

      // in process table
      inProcessSwapsExpanded: [],
      inProcessSwapsHeaders: [
        {
          text: "Date",
          align: "end",
          sortable: false,
          value: "created"
        },
        { text: "Book", value: "book" },
        { text: "Status", value: "status" },
        { text: "Actions", value: "actions" },
        { text: "", value: "data-table-expand" }
      ]
    };
  },
  computed: {
    ...mapGetters([
      "bookshelf",
      "user",
      "requests",
      "userAddresses",
      "userBookConditions"
    ]),
    userBookConditionsModified() {
      return this.userBookConditions.map(item => {
        item.text = parameters.bookCondition[item.value];
        return item;
      });
    },
    senderNewRequests() {
      var senderRequests = this.requests.filter(
        req => req.book_sender.id === this.user.id
      );
      return senderRequests.filter(
        req => req.status.value == this.requestStatusRecipientPaid
      );
    },
    senderInProgressRequests() {
      var senderRequests = this.requests.filter(
        req => req.book_sender.id === this.user.id
      );
      return senderRequests.filter(
        req =>
          req.status.value == this.requestStatusSenderAccepted ||
          req.status.value == this.requestStatusShippingLabelPrinted ||
          req.status.value == this.requestStatusShipped
      );
    },
    bookshelfIsEmpty() {
      return (
        this.senderNewRequests.length < 1 &&
        this.senderInProgressRequests.length < 1 &&
        this.bookshelf.length < 1
      );
    }
  },
  methods: {
    initialize() {
      this.$store.dispatch("getRequests");
      this.$store.dispatch("getBookshelf");

      if (!this.userAddresses) this.$store.dispatch("getUserAddresses");
    },
    inProgress(request) {
      return (
        request.status &&
        (request.status.value === this.requestStatusSenderAccepted ||
          request.status.value === this.requestStatusShippingLabelPrinted)
      );
    },
    isOpen(request) {
      return (
        request.status &&
        request.status.value === this.requestStatusRecipientPaid
      );
    },
    getcollectionText(value, collection) {
      var state = collection.find(e => e.value === value);
      if (state) {
        return state.text;
      } else {
        return value;
      }
    },
    handleBookshelfTour() {
      userflow.start("9c0ecc20-42c6-4c74-a1aa-9b627a4d3de6");
    },
    handleSaveAddress(address) {
      this.$store.dispatch("addNewUserAddresses", address).then(response => {
        this.userAddressDialog = false;
        var createdAddress = response.data;
        this.$store.dispatch("addToUserAddresses", createdAddress);
        this.selectedAddress = createdAddress;
        this.address = {
          city: "",
          address_line: "",
          state: "",
          zip_code: "",
          country: ""
        };
      });
    },
    removeFromBookshelf(userbook) {
      if (this.hasRequest(userbook.id)) {
        this.$toasted.show(
          "You have an incoming match for this book. It cannot be removed at this time.",
          {
            theme: "outline",
            position: "bottom-left",
            duration: 7000,
            type: "error",
            icon: "mdi-alert-circle",
            className: "toastedError"
          }
        );
      } else {
        this.$store.dispatch("removeFromBookshelf", userbook);
      }
    },
    saveToBookshelf(condition, userbook) {
      var payload = {
        id: userbook.id,
        condition: this.userBookConditions.find(e => e.value === condition)
      };
      this.$store.dispatch("updateBookshelf", payload);
    },
    handleDeclineRequest(request) {
      this.selectedRequest = request;
      this.declineConfirmationDialog = true;
    },
    declineRequest() {
      this.$store
        .dispatch("declineRequestBySender", this.selectedRequest)
        .then(() => {
          this.declineConfirmationDialog = false;
        });
    },
    handleAcceptRequest(request) {
      this.selectedRequest = request;
      this.$store.dispatch("acceptRequestBySender", request).then(() => {
        this.acceptConfirmationDialog = true;
      });
    },
    handleGenerateShippingLabel(request) {
      if (this.userAddresses?.length > 0) {
        this.acceptConfirmationDialog = false;
        this.$set(request, "tracking_number", "generating");
        this.$store.dispatch("generateShippingLabel", request);
      } else {
        this.userAddressDialog = true;
      }
    },
    generateShippingLabel() {
      this.handleGenerateShippingLabel(
        this.requests.find(req => req.id == this.selectedRequest.id)
      );
    },
    generateShippingQR() {
      this.handleGenerateShippingQR(
        this.requests.find(req => req.id == this.selectedRequest.id)
      );
    },
    handleGenerateShippingQR(request) {
      if (this.userAddresses?.length > 0) {
        this.acceptConfirmationDialog = false;
        this.$set(request, "tracking_number", "generating");
        this.$store.dispatch("generateShippingQR", request);
      } else {
        this.userAddressDialog = true;
      }
    },
    handleShipRequest(request) {
      this.selectedRequest = request;
      this.shippingConfirmationDialog = true;
    },
    shipRequest(hasTrackingNumber = true) {
      if (hasTrackingNumber) {
        this.selectedRequest.tracking_number = this.trackingNumber;
      }
      this.$store.dispatch("shipRequest", this.selectedRequest).then(() => {
        this.trackingNumber = "";
        this.shippingConfirmationDialog = false;
      });
    },
    hasRequest(userbookID) {
      var hasRequest = false;
      this.requests.forEach(req => {
        var userbook = req.request_books.find(
          el => el.user_book.id == userbookID
        );
        if (userbook) {
          console.log("it has request", req, userbook);
          hasRequest = true;
        }
      });
      return hasRequest;
    }
  }
};
</script>

<style scoped>
.v-input {
  font-size: 0.79rem;
}

.v-data-table > .v-data-table__wrapper > table {
  height: 70px !important;
}

.v-list-item__title {
  font-size: 0.8rem;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  color: #444444;
}

.bookshelf-section {
  background: #fdfdfd !important;
}

.sub-title {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  color: #444444;
}

.theme--light.v-application {
  background: radial-gradient(
    50.07% 53.25% at 50.07% 1.73%,
    rgba(140, 243, 235, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

.process-section {
  background: linear-gradient(
    90deg,
    rgba(235, 235, 235, 0.5) 11.39%,
    rgba(140, 243, 235, 0.5) 94.92%
  );
  left: -18px;
  top: 964px;
}
</style>
